src/workflow-mapgenerator.json
{
  "updatedAt": "2026-06-15T20:56:29.342Z",
  "createdAt": "2026-05-18T14:36:28.140Z",
  "id": "XPSwqndBGvARd0zq",
  "name": "Draft mapgenerator Claude Sonnet 4.6",
  "description": "Map generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        22224,
        -2448
      ],
      "id": "fc2b6780-4fb5-4ce4-bf0c-a1ba207b2ea1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst regels = [\n  'Je bent een data-extractie specialist voor Getaway Travel. Extraheer alle bestemmingen uit de onderstaande reisinformatie voor een routekaart.',\n  '',\n  'REGELS:',\n  '- Neem alle steden, eilanden, parken en regio\\'s op waar de reiziger overnacht of een substantieel deel van de dag doorbrengt',\n  '- Gebruik type \"arrival\" voor de aankomstplaats ALLEEN als de reiziger daar niet overnacht (bijv. vliegveld Preveza waar je landt en doorrijdt). Als de reiziger in de aankomststad overnacht (bijv. Johannesburg op dag 1), gebruik dan type \"destination\" met het juiste aantal verblijfsdagen.',\n  '- Neem de vertrekplaats aan het einde van de reis op als type \"transit\". Als de laatste verblijfplaats dezelfde stad is als de vertrekplaats (bijv. Kaapstad), voeg dan TOCH een aparte transit-stop toe met days: 0 — zodat de stad zowel als verblijfplaats als vertrekpunt op de kaart staat.',\n  '- Let op: een vliegveld als Preveza telt zowel als aankomst (type \"arrival\", order 1) als als vertrekstop (type \"transit\", laatste order). Beide mogen in de route staan ook al zijn het dezelfde coördinaten.',\n  '- Transit-stops zijn: ferry-havens waar de reiziger een boot pakt, vliegvelden in het reisland waar een binnenlandse vlucht vertrekt of aankomt, directe aansluitingspunten, én plaatsen waar tijdens een reisdag tussen twee verblijfplaatsen bewust wordt gestopt voor een bezoek (bijv. de tempels van Ayutthaya of de drijvende markt van Damnoen Saduak onderweg naar de volgende bestemming). GEEN transit-stops: plaatsen waar alleen doorheen wordt gereden of die alleen als reisinfo of richtingaanwijzer worden genoemd (bijv. Blyde River Canyon, Tsitsikamma, Wilderness), en daguitstapjes vanuit een vaste uitvalsbasis waarbij de reiziger \\'s avonds terugkeert.',\n  '- Kijk ook in de reisinformatie (niet alleen de dag-tot-dag) voor transit-stops. Als de tekst zegt \"je reist naar [haven] waar de ferry je naar [eiland] brengt\", neem dan [haven] op als transit-stop.',\n  '- Een transit-stop heeft altijd days: 0 en type: \"transit\"',\n  '- BELANGRIJK: voeg een tussenstop ALLEEN toe als de plaats expliciet in de tekst als bezoek, stop of overnachting wordt genoemd. Leid GEEN tussenstops af die niet met zoveel woorden zo worden beschreven — ook geen havens, eilanden of plaatsen die alleen impliciet onderweg lijken te liggen. Bij twijfel: weglaten.',\n  '- Filter vertrekplaatsen in Nederland eruit (Amsterdam, Rotterdam, Eindhoven etc.)',\n  '- Laat daguitstapjes weg waarbij de reiziger \\'s avonds terugkeert naar dezelfde uitvalsbasis',\n  '- Neem alleen plaatsen op waar de reiziger daadwerkelijk overnacht of de nacht doorbrengt. Een park of stad die wordt doorkruist of bezocht als dagexcursie telt NIET mee, ook niet als het prominent in de tekst staat (bijv. Blyde River Canyon, Tsitsikamma, Wilderness zijn geen stops — de reiziger slaapt er niet).',\n  '- Vermeld bij elke bestemming altijd het land in het Engels',\n  '- Tel het aantal verblijfsdagen per bestemming (een dagbereik \"Dag 6 t/m 9\" = 4 dagen)',\n  '- Nummer de bestemmingen op volgorde van bezoek',\n  '- Gebruik voor \"destination\" de naam zoals die in de inputtekst staat',\n '- Als de tekst een specifieke stad, wijk of dorp noemt als overnachtingsplek die binnen circa 30 kilometer van een grotere, bekendere bestemming ligt (bijv. Houtbaai bij Kaapstad), gebruik dan de grotere bestemming als destination én destination_geocode. Alleen als de verblijfplaats écht een eigen bestemming is op meer dan 30 kilometer afstand, neem je hem als aparte stop op. En: als de verblijfplaats een klein dorp op een eiland is dat al als bestemming telt (bijv. Agia Efimia op Kefalonia), gebruik dan de eilandnaam als destination.',\n  '- Gebruik voor \"destination_geocode\" de meest gangbare Engelstalige plaatsnaam die Mapbox Geocoding het beste herkent',\n  '- Kies voor de geocode de meest herkenbare, bekende plaats die bij de bestemming hoort, ook als het feitelijke verblijf iets verderop ligt. Een reiziger moet de pin direct kunnen plaatsen. Voorbeeld: bij \"River Kwai\" is dat Kanchanaburi, de stad met de beroemde brug — gebruik \"Kanchanaburi\" als destination_geocode, ook al ligt het hotel bij Sai Yok.',\n  '- Gebruik type \"destination\" voor reguliere verblijfplaatsen',\n  '- Als aankomstplaats en verblijfplaats dezelfde stad zijn (bijv. aankomst Bangkok én verblijf Bangkok), neem dan ALLEEN de verblijfbestemming op met type \"destination\" en sla de arrival stop volledig over. Voeg die stad dus NIET twee keer toe.',\n  '- Bij seizoensgebonden verblijfplaatsen (herkenbaar aan een schuine streep in de koptekst, bijv. \"Knysna – Swellendam/Hermanus\" of een zin als \"in de periode juni-november verblijf je in Hermanus\"): neem ALTIJD BEIDE plaatsen op als aparte, opeenvolgende stops van type \"destination\" met elk days: 1. Sla er dus NOOIT één van over — Swellendam én Hermanus moeten beide in de route staan.',\n  '',\n  '- Voeg bij elke stop een \"transport\" veld toe: het vervoersmiddel waarmee de reiziger van de VORIGE stop naar DEZE stop reist',\n  '- Gebruik ALLEEN: \"car\", \"flight\", \"ferry\", \"train\", \"cruise\", \"walk\", \"unknown\"',\n  '- \"car\" = standaard voor rondreis per huurauto, 4WD, camper, minibus of groepsbus',\n  '- \"flight\" = alleen voor vluchten BINNEN de reis tussen twee bestemmingen (NIET de internationale heenvlucht vanuit Nederland)',\n  '- \"ferry\" = overtocht per boot, ferry, speedboot of catamaran tussen twee plaatsen',\n  '- \"train\" = treinreis tussen twee bestemmingen (ook hogesnelheidstrein/shinkansen)',\n  '- \"cruise\" = reiziger vaart op een cruiseschip of riviercruise (dahabiya, Nijlcruise) van A naar B',\n  '- \"walk\" = trekkingreis waarbij de reiziger lopend van A naar B gaat',\n  '- Kijk zowel naar expliciete vermeldingen als naar context (eilandenreis = waarschijnlijk ferry, safarigebied = waarschijnlijk auto)',\n  '- Negeer lokaal vervoer tijdens excursies (tuk-tuk, riksja, lokale bus voor daguitstap)',\n  '- Tussenstops die alleen worden aangedaan onderweg (bijv. een drijvende markt of historische plek als dagstop) zijn transit-stops met type: \"transit\" en days: 0, ook als ze in de tekst prominent worden beschreven',\n  '- De eerste stop krijgt transport: \"flight\" als de reis per vliegtuig vanuit Nederland begint, anders \"unknown\"',\n  '',\n  '- Voeg bij elke stop een \"bekendheid\" veld toe: een getal 1, 2 of 3 dat aangeeft hoe toeristisch bekend/iconisch de bestemming is. Kijk HEEL goed naar de context van de reistekst: hoeveel aandacht krijgt de plek, wordt het als hoogtepunt beschreven, zijn er wereldberoemde bezienswaardigheden?',\n  '  - 3 = wereldberoemd / iconisch hoogtepunt van de reis (bijv. Siem Reap met Angkor Wat, Bangkok, Kaapstad, Luang Prabang, Drakensberg, Chiang Mai)',\n  '  - 2 = bekende, aantrekkelijke bestemming maar geen wereldwonder (bijv. Hua Hin, Knysna, Vang Vieng, Addo)',\n  '  - 1 = doorrij-, transit- of overnachtingsplaats zonder grote toeristische trekpleister (bijv. Nakhon Pathom, Clarens, Cradock, Damnoen Saduak)',\n  '  - Wees streng: niet alles is een 3. Gebruik de relatieve nadruk in de tekst als leidraad.',\n  '',\n  'Geef ALLEEN een geldig JSON object terug, zonder uitleg, inleiding of markdown:',\n  '',\n  '{',\n  '  \"route\": [',\n  '    { \"order\": 1, \"destination\": \"Bangkok\", \"destination_geocode\": \"Bangkok\", \"country\": \"Thailand\", \"days\": 3, \"type\": \"destination\", \"transport\": \"flight\", \"bekendheid\": 3, \"day_label\": \"Dag 1-4\" },',\n  '    { \"order\": 2, \"destination\": \"Damnoen Saduak\", \"destination_geocode\": \"Damnoen Saduak\", \"country\": \"Thailand\", \"days\": 0, \"type\": \"transit\", \"transport\": \"car\", \"bekendheid\": 1, \"day_label\": \"Dag 5\" },',\n  '    { \"order\": 3, \"destination\": \"River Kwai\", \"destination_geocode\": \"Kanchanaburi\", \"country\": \"Thailand\", \"days\": 2, \"type\": \"destination\", \"transport\": \"car\", \"bekendheid\": 2, \"day_label\": \"Dag 5-6\" },',\n  '    { \"order\": 4, \"destination\": \"Chiang Mai\", \"destination_geocode\": \"Chiang Mai\", \"country\": \"Thailand\", \"days\": 3, \"type\": \"destination\", \"transport\": \"train\", \"bekendheid\": 3, \"day_label\": \"Dag 8-10\" },',\n  '    { \"order\": 5, \"destination\": \"Hua Hin\", \"destination_geocode\": \"Hua Hin\", \"country\": \"Thailand\", \"days\": 4, \"type\": \"destination\", \"transport\": \"flight\", \"bekendheid\": 2, \"day_label\": \"Dag 11-15\" }',\n  '  ]',\n  '}',\n  '',\n  '---',\n  '',\n  'Dag tot dag:',\n  '<<DAG_TOT_DAG>>',\n  '',\n  'Reisinformatie:',\n  '<<REISINFORMATIE>>'\n];\n\nconst promptTemplate = regels.join('\\n');\n\nreturn items.map(function(item) {\n  const dagTotDag = item.json['Dag tot dag - generated'] || '';\n  const reisinformatie = item.json['Reisinformatie - scraped'] || '';\n  const url = item.json.URL || '';\n\n  const prompt = promptTemplate\n    .replace('<<DAG_TOT_DAG>>', dagTotDag)\n    .replace('<<REISINFORMATIE>>', reisinformatie);\n\n  const requestBody = {\n    model: 'claude-opus-4-8',\n    max_tokens: 8000,\n    messages: [{ role: 'user', content: prompt }]\n  };\n\n  return { json: { requestBody: JSON.stringify(requestBody), url: url } };\n});"
      },
      "id": "f065a5c5-0231-4cc3-8282-e609dd92cb82",
      "name": "Bouw request body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22736,
        -2448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "1adcec2a-4847-4f3e-89e7-13c690585ac7",
      "name": "Claude - Extraheer bestemmingen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22976,
        -2448
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "sDmugZ8UnWZjdCY3",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponses = $input.all();\nconst tripItems = $('Bouw request body').all();\n\nconst allDestinations = [];\n\nclaudeResponses.forEach(function(response, tripIndex) {\n  const textBlock = (response.json.content || []).find(function(c) { return c.type === 'text' && c.text; });\n  const responseText = textBlock ? textBlock.text : '';\n  if (!responseText) return;\n  const url = tripItems[tripIndex] ? tripItems[tripIndex].json.url || '' : '';\n  const clean = responseText.replace(/```json|```/g, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(clean);\n  } catch(e) {\n    return;\n  }\n\n  parsed.route.forEach(function(dest) {\n    allDestinations.push({\n      json: {\n        order: dest.order,\n        destination: dest.destination,\n        destination_geocode: dest.destination_geocode || dest.destination,\n        country: dest.country,\n        days: dest.days,\n        type: dest.type || 'destination',\n        transport: dest.transport || 'unknown',\n        bekendheid: dest.bekendheid || 1,\n        day_label: dest.day_label || '',\n        url: url\n      }\n    });\n  });\n});\n\nreturn allDestinations;"
      },
      "id": "1ea292d6-caec-4900-9e17-00c145d9bf2e",
      "name": "Parse Claude JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23200,
        -2448
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.mapboxUrl }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "REDACTED_MAPBOX_PUBLIC_TOKEN"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "types",
              "value": "place,region,country,locality"
            }
          ]
        },
        "options": {}
      },
      "id": "5eaa4348-0433-4dc5-805c-0362cd78bb26",
      "name": "Mapbox Geocoding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        23712,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const mapboxItems = $input.all();\nconst destinationItems = $('Bouw Mapbox URL').all();\n\nfunction vindCountryCode(feature) {\n  try {\n    if (feature.place_type && feature.place_type.indexOf('country') !== -1) {\n      return (feature.properties && feature.properties.short_code) ? feature.properties.short_code.toUpperCase() : null;\n    }\n    if (feature.context) {\n      const c = feature.context.find(function(x) { return x.id && x.id.indexOf('country') === 0; });\n      if (c && c.short_code) return c.short_code.toUpperCase();\n    }\n  } catch(e) {}\n  return null;\n}\n\nreturn mapboxItems.map(function(item, i) {\n  const dest = destinationItems[i] ? destinationItems[i].json : {};\n\n  let features = [];\n  try {\n    const raw = item.json.data;\n    const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    features = parsed.features || [];\n  } catch(e) {}\n\n  if (!features || features.length === 0) {\n    return {\n      json: {\n        order: dest.order,\n        destination: dest.destination,\n        destination_geocode: dest.destination_geocode || dest.destination,\n        country: dest.country,\n        days: dest.days,\n        type: dest.type || 'destination',\n        transport: dest.transport || 'car',\n        bekendheid: dest.bekendheid || 1,\n        day_label: dest.day_label || '',\n        url: dest.url || '',\n        latitude: null,\n        longitude: null,\n        place_name: null,\n        country_code: null,\n        error: 'Geen coordinaten gevonden'\n      }\n    };\n  }\n\n  return {\n    json: {\n      order: dest.order,\n      destination: dest.destination,\n      destination_geocode: dest.destination_geocode || dest.destination,\n      country: dest.country,\n      days: dest.days,\n      type: dest.type || 'destination',\n      transport: dest.transport || 'car',\n      bekendheid: dest.bekendheid || 1,\n      day_label: dest.day_label || '',\n      url: dest.url || '',\n      latitude: features[0].center[1],\n      longitude: features[0].center[0],\n      place_name: features[0].place_name,\n      country_code: vindCountryCode(features[0])\n    }\n  };\n});"
      },
      "id": "d02ba90f-e952-4f47-81a3-0b8decb039e9",
      "name": "Extraheer coördinaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23984,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst tripMap = {};\nallItems.forEach(function(item) {\n  const url = item.json.url || '';\n  if (!tripMap[url]) {\n    tripMap[url] = [];\n  }\n  tripMap[url].push({\n    order: item.json.order,\n    destination: item.json.destination,\n    destination_geocode: item.json.destination_geocode || item.json.destination,\n    country: item.json.country,\n    country_code: item.json.country_code || null,\n    days: item.json.days,\n    type: item.json.type || 'destination',\n    transport: item.json.transport || 'unknown',\n    bekendheid: item.json.bekendheid || 1,\n    url: item.json.url || '',\n    latitude: item.json.latitude,\n    longitude: item.json.longitude,\n    place_name: item.json.place_name\n  });\n});\n\nreturn Object.keys(tripMap).map(function(url) {\n  const route = tripMap[url].sort(function(a, b) { return a.order - b.order; });\n  return {\n    json: {\n      URL: url,\n      route: route,\n      total_destinations: route.length,\n      generated_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "ec28e3ca-75e3-4e07-b7fd-92b564f4e994",
      "name": "Combineer resultaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24192,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(function(item, index) {\n  const destinationGeocode = item.json.destination_geocode || item.json.destination;\n  const country = item.json.country;\n  const searchText = encodeURIComponent(destinationGeocode + ', ' + country);\n  const mapboxUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + searchText + '.json';\n  return {\n    json: {\n      _index: index,\n      order: item.json.order,\n      destination: item.json.destination,\n      destination_geocode: destinationGeocode,\n      country: country,\n      days: item.json.days,\n      type: item.json.type || 'destination',\n      transport: item.json.transport || 'car',\n      bekendheid: item.json.bekendheid || 1,\n      url: item.json.url || '',\n      mapboxUrl: mapboxUrl\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23456,
        -2448
      ],
      "id": "db43ab55-2a66-4653-9c74-c3a3fb4133d4",
      "name": "Bouw Mapbox URL"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst landNL = {\n  'thailand': 'Thailand', 'laos': 'Laos', 'cambodia': 'Cambodja', 'vietnam': 'Vietnam',\n  'myanmar': 'Myanmar', 'malaysia': 'Maleisi\\u00eb', 'indonesia': 'Indonesi\\u00eb', 'singapore': 'Singapore',\n  'philippines': 'Filipijnen', 'japan': 'Japan', 'china': 'China', 'india': 'India', 'nepal': 'Nepal',\n  'sri lanka': 'Sri Lanka', 'south africa': 'Zuid-Afrika', 'eswatini': 'eSwatini', 'lesotho': 'Lesotho',\n  'namibia': 'Namibi\\u00eb', 'botswana': 'Botswana', 'zimbabwe': 'Zimbabwe', 'zambia': 'Zambia',\n  'tanzania': 'Tanzania', 'kenya': 'Kenia', 'mozambique': 'Mozambique', 'morocco': 'Marokko',\n  'egypt': 'Egypte', 'jordan': 'Jordani\\u00eb', 'greece': 'Griekenland', 'italy': 'Itali\\u00eb',\n  'spain': 'Spanje', 'portugal': 'Portugal', 'france': 'Frankrijk', 'croatia': 'Kroati\\u00eb',\n  'peru': 'Peru', 'argentina': 'Argentini\\u00eb', 'chile': 'Chili', 'brazil': 'Brazili\\u00eb',\n  'bolivia': 'Bolivia', 'ecuador': 'Ecuador', 'colombia': 'Colombia', 'costa rica': 'Costa Rica',\n  'mexico': 'Mexico', 'cuba': 'Cuba', 'united states': 'Verenigde Staten', 'canada': 'Canada',\n  'australia': 'Australi\\u00eb', 'new zealand': 'Nieuw-Zeeland', 'iceland': 'IJsland',\n  'norway': 'Noorwegen', 'sweden': 'Zweden', 'turkey': 'Turkije', 'united kingdom': 'Verenigd Koninkrijk',\n  'ireland': 'Ierland', 'germany': 'Duitsland', 'austria': 'Oostenrijk', 'switzerland': 'Zwitserland'\n};\nfunction naarNL(land) {\n  const key = (land || '').toLowerCase().trim();\n  return landNL[key] || land;\n}\n\nreturn items.map(function(item) {\n  const route = item.json.route;\n  const url = item.json.URL;\n\n  const validStops = route\n    .filter(function(s) { return s.latitude !== null && s.longitude !== null && s.latitude !== undefined && s.longitude !== undefined; })\n    .sort(function(a, b) { return a.order - b.order; });\n\n  const stopNamenSet = {};\n  validStops.forEach(function(s) { stopNamenSet[(s.destination || '').toLowerCase().trim()] = true; });\n\n  const landGezien = {};\n  validStops.forEach(function(s) {\n    const land = (s.country || '').trim();\n    const landLower = land.toLowerCase();\n    if (land && !landGezien[landLower] && !stopNamenSet[landLower]) {\n      landGezien[landLower] = true;\n      s._toonLand = naarNL(land);\n    } else {\n      s._toonLand = '';\n      if (land) landGezien[landLower] = true;\n    }\n  });\n\n  const legenda = validStops.map(function(stop) {\n    const dagLabel = stop.day_label || (stop.type === 'transit' ? 'tussenstop' : stop.type === 'arrival' ? 'aankomst/vertrek' : '');\n    return stop.order + '. ' + stop.destination + (dagLabel ? ' - ' + dagLabel : '');\n  }).join('\\n');\n\n  const eersteOrder = validStops.length ? validStops[0].order : null;\n  const laatsteOrder = validStops.length ? validStops[validStops.length - 1].order : null;\n\n  const markersJson = JSON.stringify(validStops.map(function(s) {\n    return {\n      order: s.order, destination: s.destination, country: s.country || '', toonLand: s._toonLand || '', days: s.days,\n      lng: s.longitude, lat: s.latitude, type: s.type || 'destination',\n      transport: s.transport || 'car', bekendheid: s.bekendheid || 1, day_label: s.day_label || '',\n      isStart: s.order === eersteOrder, isEind: s.order === laatsteOrder\n    };\n  }));\n\n  const reisNaam = url.split('/').filter(Boolean).pop() || 'rondreis';\n  const avgLng = validStops.reduce(function(sum, s) { return sum + s.longitude; }, 0) / validStops.length;\n  const avgLat = validStops.reduce(function(sum, s) { return sum + s.latitude; }, 0) / validStops.length;\n\n  const segmentsJson = JSON.stringify(validStops.slice(1).map(function(s, i) {\n    return { from: [validStops[i].longitude, validStops[i].latitude], to: [s.longitude, s.latitude], transport: s.transport || 'car' };\n  }));\n\n  const gezien = {};\n  const tripCountries = [];\n  validStops.forEach(function(s) {\n    if (s.country_code && !gezien[s.country_code]) { gezien[s.country_code] = true; tripCountries.push(s.country_code); }\n  });\n  const tripCountriesJson = JSON.stringify(tripCountries);\n\n  const html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Routekaart - ${reisNaam}</title>\n<script src=\"https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js\"></script>\n<link href=\"https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css\" rel=\"stylesheet\">\n<style>\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { font-family: -apple-system, BlinkMacSystemFont, sans-serif; background: #F9FBFB; }\n  #map { width: 100%; height: 65vh; min-height: 420px; }\n  .land-label-marker { pointer-events: none; }\n  .stop-land { font-size: 15px; font-weight: 700; font-style: italic; color: #FFFFFF; text-transform: uppercase; letter-spacing: 0.5px; white-space: nowrap; text-shadow: 0 1px 2px rgba(40,48,56,0.78); }\n  #legenda { padding: 16px 20px; background: #F9FBFB; border-top: 1px solid #ABC6CB; }\n  #legenda h3 { font-size: 15px; font-weight: 600; margin-bottom: 10px; color: #3B4651; }\n  .legenda-uitleg { display: flex; gap: 16px; margin-bottom: 12px; font-size: 11px; color: #3B4651; flex-wrap: wrap; }\n  .legenda-uitleg span { display: inline-flex; align-items: center; gap: 5px; }\n  .mini-ring { width: 11px; height: 11px; border-radius: 50%; background: #F9FBFB; border: 2px solid #3B4651; display: inline-block; }\n  .legenda-item { display: flex; align-items: center; gap: 10px; padding: 6px 0; border-bottom: 1px solid #B9D9E0; font-size: 13px; color: #3B4651; }\n  .legenda-item:last-child { border-bottom: none; }\n  .legenda-dag { color: #3B4651; font-size: 12px; font-weight: 600; min-width: 72px; flex-shrink: 0; }\n  .legenda-transport { display: inline-flex; align-items: center; margin-left: 2px; }\n  .mapboxgl-popup-content { padding: 10px 14px; border-radius: 8px; font-family: -apple-system, BlinkMacSystemFont, sans-serif; box-shadow: 0 2px 8px rgba(59,70,81,0.2); background: #F9FBFB; }\n  .popup-title { font-weight: 600; font-size: 13px; margin-bottom: 3px; color: #3B4651; }\n  .popup-dagen { color: #3B4651; font-size: 12px; }\n  .popup-transport { font-size: 11px; color: #3B4651; margin-top: 2px; display: flex; align-items: center; gap: 4px; }\n</style>\n</head>\n<body>\n<div id=\"map\"></div>\n<div id=\"legenda\">\n  <h3>Route</h3>\n  <div class=\"legenda-uitleg\">\n    <span><span class=\"mini-ring\"></span> Start- en eindpunt</span>\n  </div>\n  <div id=\"legenda-items\"></div>\n</div>\n<script>\nmapboxgl.accessToken = new URLSearchParams(window.location.search).get('t') || '';\n\nconst stops = ${markersJson};\nconst segments = ${segmentsJson};\nconst tripCountries = ${tripCountriesJson};\n\nconst KLEUR_LICHT = '#F9FBFB';\nconst KLEUR_BLAUW = '#B9D9E0';\nconst KLEUR_DONKER = '#3B4651';\nconst KLEUR_GRIJS = '#ABC6CB';\n\nconst transportConfig = {\n  flight:  { dash: [2, 2], width: 2, label: 'Vlucht',     svg: 'M21,16v-2l-8-5V3.5C13,2.67,12.33,2,11.5,2S10,2.67,10,3.5V9l-8,5v2l8-2.5V19l-2,1.5V22l3.5-1l3.5,1v-1.5L13,19v-5.5L21,16z' },\n  ferry:   { dash: [4, 2], width: 2, label: 'Ferry/boot', svg: 'M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2c0.98,1.12,2.4,2,4,2h0.05l1.89-6.68c0.08-0.26,0.06-0.54-0.06-0.78s-0.34-0.42-0.6-0.5L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62l-1.29,0.42c-0.26,0.08-0.48,0.26-0.6,0.5s-0.15,0.52-0.06,0.78L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z' },\n  train:   { dash: [6, 2], width: 3, label: 'Trein',      svg: 'M12,2c-4.42,0-8,0.5-8,4v9.5C4,17.43,5.57,19,7.5,19L6,20.5V21h12v-0.5L16.5,19c1.93,0,3.5-1.57,3.5-3.5V6C20,2.5,16.42,2,12,2z M7.5,17C6.67,17,6,16.33,6,15.5S6.67,14,7.5,14S9,14.67,9,15.5S8.33,17,7.5,17z M11,11H6V6h5V11z M16.5,17c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5S17.33,17,16.5,17z M18,11h-5V6h5V11z' },\n  cruise:  { dash: [8, 3], width: 3, label: 'Cruise',     svg: 'M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2c0.98,1.12,2.4,2,4,2h0.05l1.89-6.68c0.08-0.26,0.06-0.54-0.06-0.78s-0.34-0.42-0.6-0.5L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62l-1.29,0.42c-0.26,0.08-0.48,0.26-0.6,0.5s-0.15,0.52-0.06,0.78L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z' },\n  walk:    { dash: [2, 3], width: 2, label: 'Wandelen',   svg: 'M13.5,5.5c1.1,0,2-0.9,2-2s-0.9-2-2-2s-2,0.9-2,2S12.4,5.5,13.5,5.5z M9.8,8.9L7,23h2.1l1.8-8l2.1,2v6h2v-7.5l-2.1-2l0.6-3C12.8,11,14.8,12,17,12v-2c-1.9,0-3.5-1-4.3-2.4l-1-1.6C11.3,5.4,10.7,5,10,5C9.7,5,9.5,5.1,9.2,5.1L4,7.3V13h2V8.6l1.8-0.7' },\n  car:     { dash: [],     width: 3, label: 'Auto',       svg: '' },\n  unknown: { dash: [],     width: 2, label: '',           svg: '' }\n};\n\nfunction svgIcon(pad, maat, halo) {\n  if (!pad) return '';\n  var h = halo ? '<path d=\"' + pad + '\" fill=\"none\" stroke=\"' + KLEUR_LICHT + '\" stroke-width=\"3.5\" stroke-linejoin=\"round\" stroke-linecap=\"round\"/>' : '';\n  return '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"' + maat + '\" height=\"' + maat + '\" viewBox=\"0 0 24 24\" fill=\"' + KLEUR_DONKER + '\">' + h + '<path d=\"' + pad + '\"/></svg>';\n}\n\nfunction boogCoords(from, to, transport, punten) {\n  punten = punten || 40;\n  var useBoog = (transport === 'flight' || transport === 'ferry' || transport === 'cruise');\n  if (!useBoog) {\n    var rechte = [];\n    for (var k = 0; k <= punten; k++) {\n      var tt = k / punten;\n      rechte.push([from[0] + (to[0] - from[0]) * tt, from[1] + (to[1] - from[1]) * tt]);\n    }\n    return rechte;\n  }\n  var dx = to[0] - from[0]; var dy = to[1] - from[1];\n  var dist = Math.sqrt(dx*dx + dy*dy);\n  var boogHoogte = dist * (transport === 'flight' ? 0.40 : 0.20);\n  var mx = (from[0] + to[0]) / 2; var my = (from[1] + to[1]) / 2;\n  var nx = -dy / dist; var ny = dx / dist;\n  var ctrl = [mx + nx * boogHoogte, my + ny * boogHoogte];\n  var coords = [];\n  for (var i = 0; i <= punten; i++) {\n    var t = i / punten;\n    var x = (1-t)*(1-t)*from[0] + 2*(1-t)*t*ctrl[0] + t*t*to[0];\n    var y = (1-t)*(1-t)*from[1] + 2*(1-t)*t*ctrl[1] + t*t*to[1];\n    coords.push([x, y]);\n  }\n  return coords;\n}\n\nconst landenFilter = ['all',\n  ['any', ['==', ['get', 'worldview'], 'all'], ['in', 'US', ['get', 'worldview']]],\n  ['in', ['get', 'iso_3166_1'], ['literal', tripCountries]]\n];\n\nconst map = new mapboxgl.Map({\n  container: 'map',\n  style: {\n    version: 8,\n    glyphs: 'mapbox://fonts/mapbox/{fontstack}/{range}.pbf',\n    sources: { landen: { type: 'vector', url: 'mapbox://mapbox.country-boundaries-v1' } },\n    layers: [\n      { id: 'achtergrond', type: 'background', paint: { 'background-color': KLEUR_LICHT } },\n      { id: 'reisland-vlak', type: 'fill', source: 'landen', 'source-layer': 'country_boundaries', filter: landenFilter, paint: { 'fill-color': KLEUR_BLAUW } },\n      { id: 'reisland-grens', type: 'line', source: 'landen', 'source-layer': 'country_boundaries', filter: landenFilter, paint: { 'line-color': KLEUR_GRIJS, 'line-width': 1.5 } }\n    ]\n  },\n  center: [${avgLng}, ${avgLat}],\n  zoom: 4\n});\n\nmap.addControl(new mapboxgl.NavigationControl(), 'top-right');\nmap.addControl(new mapboxgl.FullscreenControl(), 'top-right');\n\nmap.on('load', function() {\n\n  var transportMarkers = [];\n\n  segments.forEach(function(seg, idx) {\n    var cfg = transportConfig[seg.transport] || transportConfig.unknown;\n    var coords = boogCoords(seg.from, seg.to, seg.transport);\n    var sourceId = 'route-' + idx; var layerId = 'route-line-' + idx;\n    map.addSource(sourceId, { type: 'geojson', data: { type: 'Feature', geometry: { type: 'LineString', coordinates: coords } } });\n    var paint = { 'line-color': KLEUR_DONKER, 'line-width': cfg.width, 'line-opacity': 0.9 };\n    if (cfg.dash && cfg.dash.length > 0) { paint['line-dasharray'] = cfg.dash; }\n    map.addLayer({ id: layerId, type: 'line', source: sourceId, layout: { 'line-join': 'round', 'line-cap': 'round' }, paint: paint });\n\n    if (cfg.svg) {\n      var iconPos = coords[Math.floor(coords.length * 0.5)];\n      var iconEl = document.createElement('div');\n      iconEl.style.cssText = 'cursor:default;user-select:none;line-height:0;';\n      var innerEl = document.createElement('div');\n      innerEl.style.cssText = 'line-height:0;';\n      if (seg.transport === 'flight') {\n        var fLatRad = ((seg.from[1] + seg.to[1]) / 2) * Math.PI / 180;\n        var fdx = (seg.to[0] - seg.from[0]) * Math.cos(fLatRad);\n        var fdy = -(seg.to[1] - seg.from[1]);\n        var fHoek = Math.atan2(fdy, fdx) * 180 / Math.PI + 90;\n        innerEl.style.transform = 'rotate(' + fHoek + 'deg)';\n      }\n      innerEl.innerHTML = svgIcon(cfg.svg, 16, true);\n      iconEl.appendChild(innerEl);\n      new mapboxgl.Marker({ element: iconEl, anchor: 'center' }).setLngLat(iconPos).addTo(map);\n      transportMarkers.push({ el: iconEl, lngLat: iconPos });\n    }\n  });\n\n  var perLocatie = {};\n  stops.forEach(function(stop) {\n    var key = stop.lng.toFixed(5) + ',' + stop.lat.toFixed(5);\n    if (!perLocatie[key]) perLocatie[key] = [];\n    perLocatie[key].push(stop);\n  });\n\n  var TOON_LANDNAMEN = false;\n\n  function locKey(s){ return s.lng.toFixed(5) + ',' + s.lat.toFixed(5); }\n  var lijnRichtingen = {};\n  for (var li = 0; li < stops.length; li++) {\n    var ls = stops[li];\n    var lk = locKey(ls);\n    if (!lijnRichtingen[lk]) lijnRichtingen[lk] = [];\n    var buren = [];\n    if (li > 0) buren.push(stops[li - 1]);\n    if (li < stops.length - 1) buren.push(stops[li + 1]);\n    buren.forEach(function(b) {\n      var latRad = ls.lat * Math.PI / 180;\n      var gx = (b.lng - ls.lng) * Math.cos(latRad);\n      var gy = (b.lat - ls.lat);\n      var len = Math.sqrt(gx * gx + gy * gy);\n      if (len > 1e-9) lijnRichtingen[lk].push([gx / len, gy / len]);\n    });\n  }\n\n  var KANDIDATEN = [\n    { dir: [1, 0],   anchor: 'left',         off: [1.15, 0] },\n    { dir: [-1, 0],  anchor: 'right',        off: [-1.15, 0] },\n    { dir: [0, 1],   anchor: 'bottom',       off: [0, -1.15] },\n    { dir: [0, -1],  anchor: 'top',          off: [0, 1.15] },\n    { dir: [0.7071, 0.7071],   anchor: 'bottom-left',  off: [0.85, -0.85] },\n    { dir: [-0.7071, 0.7071],  anchor: 'bottom-right', off: [-0.85, -0.85] },\n    { dir: [0.7071, -0.7071],  anchor: 'top-left',     off: [0.85, 0.85] },\n    { dir: [-0.7071, -0.7071], anchor: 'top-right',    off: [-0.85, 0.85] }\n  ];\n  function kiesPlaatsing(vectoren) {\n    if (!vectoren || vectoren.length === 0) return { anchor: 'bottom', off: [0, -1.15] };\n    var best = KANDIDATEN[0], bestScore = -Infinity;\n    KANDIDATEN.forEach(function(c) {\n      var maxDot = -Infinity;\n      vectoren.forEach(function(v) {\n        var dot = c.dir[0] * v[0] + c.dir[1] * v[1];\n        if (dot > maxDot) maxDot = dot;\n      });\n      var score = -maxDot;\n      if (score > bestScore) { bestScore = score; best = c; }\n    });\n    return { anchor: best.anchor, off: best.off };\n  }\n\n  var dotFeatures = [];\n  var plaatsFeatures = [];\n  var landData = [];\n\n  Object.keys(perLocatie).forEach(function(key) {\n    var groep = perLocatie[key];\n    var stop = groep.find(function(s) { return s.type === 'destination'; }) || groep[0];\n    var toonLand = '';\n    groep.forEach(function(s) { if (s.toonLand && !toonLand) toonLand = s.toonLand; });\n    var isStart = groep.some(function(s){ return s.isStart; });\n    var isEind = groep.some(function(s){ return s.isEind; });\n    var isEindpunt = isStart || isEind;\n    var labels = [];\n    groep.forEach(function(s) {\n      var l = s.day_label || (s.type === 'transit' ? 'tussenstop' : s.type === 'arrival' ? 'aankomst/vertrek' : '');\n      if (l && labels.indexOf(l) === -1) labels.push(l);\n    });\n    var dagLabel = labels.join(' \\\\u00b7 ');\n    var cfg = transportConfig[stop.transport] || transportConfig.unknown;\n    var transportLabel = cfg.label ? (svgIcon(cfg.svg, 12) + ' ' + cfg.label) : '';\n\n    dotFeatures.push({\n      type: 'Feature',\n      geometry: { type: 'Point', coordinates: [stop.lng, stop.lat] },\n      properties: { isEindpunt: isEindpunt, destination: stop.destination, dagLabel: dagLabel, transportLabel: transportLabel }\n    });\n\n    var bekendheid = groep.reduce(function(m, s){ return Math.max(m, s.bekendheid || 1); }, 1);\n    var bijzonderVervoer = groep.some(function(s){ return ['flight','train','ferry','cruise'].indexOf(s.transport) !== -1; });\n    var sortKey;\n    if (isEindpunt) { sortKey = 0; }\n    else if (bijzonderVervoer) { sortKey = 10 - bekendheid; }\n    else { sortKey = 20 - bekendheid; }\n\n    var plaatsing = kiesPlaatsing(lijnRichtingen[key]);\n    plaatsFeatures.push({\n      type: 'Feature',\n      geometry: { type: 'Point', coordinates: [stop.lng, stop.lat] },\n      properties: { naam: stop.destination, sortKey: sortKey, anchor: plaatsing.anchor, offset: plaatsing.off }\n    });\n\n    if (toonLand) {\n      landData.push({ lng: stop.lng, lat: stop.lat, toonLand: toonLand });\n    }\n  });\n\n  map.addSource('stops-dots', { type: 'geojson', data: { type: 'FeatureCollection', features: dotFeatures } });\n  map.addLayer({\n    id: 'stops-dots-layer',\n    type: 'circle',\n    source: 'stops-dots',\n    paint: {\n      'circle-radius': 3.5,\n      'circle-color': ['case', ['get', 'isEindpunt'], KLEUR_LICHT, KLEUR_DONKER],\n      'circle-stroke-color': ['case', ['get', 'isEindpunt'], KLEUR_DONKER, KLEUR_LICHT],\n      'circle-stroke-width': ['case', ['get', 'isEindpunt'], 1.5, 1]\n    }\n  });\n\n  map.addSource('plaatsnamen', { type: 'geojson', data: { type: 'FeatureCollection', features: plaatsFeatures } });\n  map.addLayer({\n    id: 'plaatsnamen-layer',\n    type: 'symbol',\n    source: 'plaatsnamen',\n    layout: {\n      'text-field': ['get', 'naam'],\n      'text-font': ['DIN Pro Medium', 'Arial Unicode MS Regular'],\n      'text-size': 13,\n      'text-anchor': ['get', 'anchor'],\n      'text-offset': ['get', 'offset'],\n      'text-allow-overlap': false,\n      'text-ignore-placement': false,\n      'symbol-sort-key': ['get', 'sortKey']\n    },\n    paint: {\n      'text-color': KLEUR_DONKER,\n      'text-halo-color': KLEUR_LICHT,\n      'text-halo-width': 2.2\n    }\n  });\n\n  map.on('click', 'stops-dots-layer', function(e) {\n    var f = e.features[0];\n    var p = f.properties;\n    new mapboxgl.Popup({ offset: 12 })\n      .setLngLat(f.geometry.coordinates)\n      .setHTML('<div class=\"popup-title\">' + p.destination + '</div><div class=\"popup-dagen\">' + (p.dagLabel || '') + '</div>' + (p.transportLabel ? '<div class=\"popup-transport\">' + p.transportLabel + '</div>' : ''))\n      .addTo(map);\n  });\n  map.on('mouseenter', 'stops-dots-layer', function() { map.getCanvas().style.cursor = 'pointer'; });\n  map.on('mouseleave', 'stops-dots-layer', function() { map.getCanvas().style.cursor = ''; });\n\n  if (TOON_LANDNAMEN) {\n    landData.forEach(function(d) {\n      var lab = document.createElement('div');\n      lab.className = 'land-label-marker';\n      lab.innerHTML = '<div class=\"stop-land\">' + d.toonLand + '</div>';\n      var m = new mapboxgl.Marker({ element: lab, anchor: 'bottom', offset: [0, -30] }).setLngLat([d.lng, d.lat]).addTo(map);\n      m.getElement().style.zIndex = 1000;\n    });\n  }\n\n  function ververseTransportIconen() {\n    var obstakels = [];\n    try {\n      var namen = map.queryRenderedFeatures({ layers: ['plaatsnamen-layer'] });\n      namen.forEach(function(f) {\n        if (f.geometry && f.geometry.coordinates) {\n          var p = map.project(f.geometry.coordinates);\n          obstakels.push({ x: p.x, y: p.y - 16 });\n        }\n      });\n    } catch (e) {}\n    if (TOON_LANDNAMEN) {\n      landData.forEach(function(d) {\n        var p = map.project([d.lng, d.lat]);\n        obstakels.push({ x: p.x, y: p.y - 30 });\n      });\n    }\n    var DREMPEL = 24;\n    transportMarkers.forEach(function(tm) {\n      var p = map.project(tm.lngLat);\n      var botst = obstakels.some(function(o) {\n        var dx = p.x - o.x, dy = p.y - o.y;\n        return Math.sqrt(dx * dx + dy * dy) < DREMPEL;\n      });\n      tm.el.style.display = botst ? 'none' : '';\n    });\n  }\n  map.on('idle', ververseTransportIconen);\n\n  var bounds = new mapboxgl.LngLatBounds();\n  stops.forEach(function(s) { bounds.extend([s.lng, s.lat]); });\n  map.fitBounds(bounds, { padding: 70 });\n});\n\nvar legendaEl = document.getElementById('legenda-items');\nstops.forEach(function(stop) {\n  var dagLabel = stop.day_label || (stop.type === 'transit' ? 'tussenstop' : stop.type === 'arrival' ? 'aankomst/vertrek' : '');\n  var isTransitStop = stop.type === 'transit' || stop.type === 'arrival';\n  var itemStyle = isTransitStop ? 'opacity:0.65;' : '';\n  var cfg = transportConfig[stop.transport] || transportConfig.unknown;\n  var transportSpan = (!isTransitStop && cfg.svg) ? '<span class=\"legenda-transport\">' + svgIcon(cfg.svg, 14) + '</span>' : '';\n  legendaEl.innerHTML += '<div class=\"legenda-item\" style=\"' + itemStyle + '\"><span class=\"legenda-dag\">' + dagLabel + '</span>' + transportSpan + '<span>' + stop.destination + '</span></div>';\n});\n</script>\n</body>\n</html>`;\n\n  const bestandsnaam = 'routekaart-' + reisNaam + '.html';\n  return { json: { URL: url, route: route, legenda: legenda, html_content: html, bestandsnaam: bestandsnaam } };\n});"
      },
      "id": "efab5e7a-4318-4c56-aab9-06a8bb71cc0f",
      "name": "Genereer HTML kaart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24528,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  const html = item.json.html_content;\n  const bestandsnaam = item.json.bestandsnaam;\n  const base64 = Buffer.from(html, 'utf8').toString('base64');\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: base64\n    }\n  };\n});"
      },
      "id": "534358d7-e474-433a-97ab-99050e9694ec",
      "name": "HTML naar binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24720,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const githubItems = $input.all();\nconst htmlItems = $('Genereer HTML kaart').all();\nconst mapboxToken = 'REDACTED_MAPBOX_PUBLIC_TOKEN';\n\nreturn githubItems.map(function(item, idx) {\n  const htmlItem = htmlItems[idx] ? htmlItems[idx].json : {};\n  const bestandsnaam = htmlItem.bestandsnaam || '';\n  const baseUrl = bestandsnaam\n    ? 'https://getextraordinaire.github.io/getaway-kaarten/' + bestandsnaam\n    : '';\n  const interactiefUrl = baseUrl ? baseUrl + '?t=' + mapboxToken : '';\n\n  return {\n    json: {\n      URL: htmlItem.URL,\n      route: htmlItem.route,\n      legenda: htmlItem.legenda,\n      interactief_url: interactiefUrl\n    }\n  };\n});"
      },
      "id": "d84fec61-55c8-4a95-be86-594f6294e810",
      "name": "Extraheer GitHub URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25104,
        -2448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk",
          "mode": "list",
          "cachedResultName": "GETRA - n8n claude data source - kaart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        22480,
        -2448
      ],
      "id": "71c200c9-2ac9-4037-b8f2-15bf9342e9bd",
      "name": "Google Sheets - Input",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKDPMvr7A5JCB74b",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk",
          "mode": "list",
          "cachedResultName": "GETRA - n8n claude data source - kaart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1988919106,
          "mode": "list",
          "cachedResultName": "Claude output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MH-Qb7FUIq0SA9xd8Mz8kZmgEBfcScX0s979ME5KuFA/edit#gid=1988919106"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "Claude output": "={{ JSON.stringify($json.route) }}",
            "Legenda": "={{ $json.legenda }}",
            "Kaart URL (interactief)": "={{ $json.interactief_url }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Claude output",
              "displayName": "Claude output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Legenda",
              "displayName": "Legenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Kaart URL (interactief)",
              "displayName": "Kaart URL (interactief)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        26080,
        -2976
      ],
      "id": "506ed528-7619-4a26-aaca-293c493670f0",
      "name": "Google Sheets - Output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mDvVz4i75SZtDLYK",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  const bestandsnaam = item.json.bestandsnaam || '';\n  const base64content = item.json.base64content || '';\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: base64content,\n      upload_message: 'Kaart update: ' + bestandsnaam\n    }\n  };\n});"
      },
      "id": "7c475798-cf41-4c73-b1b7-d2633f93b81d",
      "name": "Bouw upload body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24912,
        -2976
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.upload_message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.base64content }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "49c665cd-cf93-4301-bfa4-973490d4aa7d",
      "name": "Upload naar GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        26032,
        -2448
      ],
      "credentials": {
        "githubApi": {
          "id": "WfhRAZf95BOBEm4l",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a400bb8f-aacc-4768-a2c1-4e7aea628458",
      "name": "Haal SHA op",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        25360,
        -2816
      ],
      "credentials": {
        "githubApi": {
          "id": "WfhRAZf95BOBEm4l",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.delete_message }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.delete_sha }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "8b0455fe-6e73-4e13-9d66-ddf69bd12acd",
      "name": "Verwijder van GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        25664,
        -2560
      ],
      "credentials": {
        "githubApi": {
          "id": "WfhRAZf95BOBEm4l",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const deleteItems = $input.all();\nconst combineerItems = $('Combineer SHA').all();\n\nreturn deleteItems.map(function(item, idx) {\n  const combineerItem = combineerItems[idx] || { json: {} };\n  return {\n    json: {\n      URL: combineerItem.json.URL,\n      route: combineerItem.json.route,\n      legenda: combineerItem.json.legenda,\n      bestandsnaam: combineerItem.json.bestandsnaam,\n      base64content: combineerItem.json.base64content,\n      upload_message: combineerItem.json.upload_message\n    }\n  };\n});"
      },
      "id": "88c05cdc-a392-44bb-bb7a-f75f439eada0",
      "name": "Herstel upload data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25904,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const shaItems = $input.all();\nconst uploadItems = $('Bouw upload body').all();\n\nreturn shaItems.map(function(shaItem, idx) {\n  const uploadItem = uploadItems[idx] || { json: {} };\n\n  // SHA is aanwezig als statusCode 200 en sha veld gevuld\n  // Bij 404 of lege response is sha null\n  let sha = null;\n  try {\n    if (shaItem.json && shaItem.json.sha && shaItem.json.sha !== 'undefined') {\n      sha = shaItem.json.sha;\n    }\n  } catch(e) { sha = null; }\n\n  const bestandsnaam = uploadItem.json.bestandsnaam || '';\n\n  return {\n    json: {\n      URL: uploadItem.json.URL,\n      route: uploadItem.json.route,\n      legenda: uploadItem.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: uploadItem.json.base64content,\n      upload_message: uploadItem.json.upload_message,\n      delete_message: 'Verwijder voor herplaatsing: ' + bestandsnaam,\n      delete_sha: sha || '',\n      has_sha: sha ? true : false\n    }\n  };\n});"
      },
      "id": "09d47817-7e6d-4318-8f42-88ac8987bbb7",
      "name": "Combineer SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25392,
        -2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sheetItems = $('Google Sheets - Input').all();\n\nreturn items.map(function(item, idx) {\n  const sheetItem = sheetItems[idx] || { json: {} };\n  const dagTotDag = sheetItem.json['Dag tot dag - generated'] || '';\n  \n  // Bouw een compacte routelijst voor Claude\n  const routeLijst = item.json.route.map(function(s) {\n    return s.order + '. ' + s.destination + ' (' + s.type + ')';\n  }).join('\\n');\n\n  const prompt = 'Gegeven deze dag-tot-dag tekst en routelijst, geef voor elke stop het dagnummer of dagbereik terug zoals het in de dag-tot-dag tekst staat.\\n\\n' +\n    'Route:\\n' + routeLijst + '\\n\\n' +\n    'Regels:\\n' +\n    '- Gebruik de exacte formulering uit de dag-tot-dag tekst (bijv. \"Dag 1\", \"Dag 1-4\", \"Dag 5-6\")\\n' +\n    '- Voor de eerste stop in het reisland: begin altijd op Dag 1, ook als Dag 1 de vliegdag is. De vliegdag telt mee als eerste dag van de bestemming. Voorbeeld: dag-tot-dag begint met \"Dag 1 | Amsterdam - Bangkok\" en Bangkok wordt beschreven op Dag 2-4 → day_label is \"Dag 1-4\" (niet \"Dag 2-4\")\\n' +\n    '- Voor transit-stops: gebruik het dagnummer waarop de reiziger door die stop reist\\n' +\n    '- Als een stop niet voorkomt in de dag-tot-dag: laat day_label leeg (\"\")\\n\\n' +\n    '- Gebruik altijd een koppelteken voor dagbereiken (\"Dag 6-7\", \"Dag 8-9\"), nooit een ampersand (\"Dag 6 & 7\")\\n' +\n    'Geef ALLEEN een geldig JSON object terug:\\n' +\n    '{\\n' +\n    '  \"labels\": [\\n' +\n    '    { \"order\": 1, \"day_label\": \"Dag 1-4\" },\\n' +\n    '    { \"order\": 2, \"day_label\": \"Dag 5\" },\\n' +\n    '    { \"order\": 3, \"day_label\": \"Dag 5-6\" }\\n' +\n    '  ]\\n' +\n    '}\\n\\n' +\n    'Dag tot dag:\\n' + dagTotDag;\n\n  const requestBody = {\n    model: 'claude-opus-4-8',\n    max_tokens: 2000,\n    messages: [{ role: 'user', content: prompt }]\n  };\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      requestBody: JSON.stringify(requestBody)\n    }\n  };\n});"
      },
      "id": "42cb8a5f-54cc-48ad-ba81-88c448cd0be9",
      "name": "Bouw dag label request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23536,
        -2704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "378586eb-c3b7-4424-8044-2fd62a23be55",
      "name": "Claude - Bereken dag labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        23808,
        -2800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sDmugZ8UnWZjdCY3",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  // Parse Claude response\n  let labels = [];\n  try {\n    const textBlock = (item.json.claude_content || []).find(function(c) { return c.type === 'text' && c.text; });\n    const text = textBlock ? textBlock.text : '';\n    const clean = text.replace(/```json|```/g, '').trim();\n    const parsed = JSON.parse(clean);\n    labels = parsed.labels || [];\n  } catch(e) {\n    labels = [];\n  }\n\n  // Maak een lookup map van order -> day_label\n  const labelMap = {};\n  labels.forEach(function(l) {\n    labelMap[l.order] = l.day_label || '';\n  });\n\n  // Voeg day_label toe aan elke stop — alle stops bewaren\n  const route = (item.json.route || []).map(function(stop) {\n    return Object.assign({}, stop, { day_label: labelMap[stop.order] || '' });\n  });\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: route,\n      legenda: item.json.legenda\n    }\n  };\n});"
      },
      "id": "05bbc6a2-f06e-4784-869d-10c374f9a1e6",
      "name": "Verwerk dag labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24080,
        -2592
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeItems = $input.all();\nconst bouwItems = $('Bouw dag label request').all();\n\n// Combineer Claude response met originele route op basis van index\nreturn claudeItems.map(function(claudeItem, idx) {\n  const bouwItem = bouwItems[idx] || { json: {} };\n  return {\n    json: {\n      URL: bouwItem.json.URL,\n      route: bouwItem.json.route,\n      legenda: bouwItem.json.legenda,\n      claude_content: claudeItem.json.content\n    }\n  };\n});"
      },
      "id": "079932a4-bccb-4f48-a42d-b205cc4bcffc",
      "name": "Combineer dag labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24304,
        -2816
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 12
            }
          ]
        }
      },
      "id": "a7975126-a95a-4307-99dd-f6563c314ba8",
      "name": "Schedule Trigger (voor publicatie)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        21904,
        -2448
      ]
    },
    {
      "id": "861fad91-7c91-460d-b167-47717c22da34",
      "name": "Corrigeer geocoding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24360,
        -2280
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst token = 'REDACTED_MAPBOX_PUBLIC_TOKEN';\nconst base = 'https://api.mapbox.com/geocoding/v5/mapbox.places/';\n\nfunction mediaan(arr) {\n  const s = arr.slice().sort(function(a,b){ return a-b; });\n  const n = s.length;\n  if (!n) return 0;\n  return n % 2 ? s[(n-1)/2] : (s[n/2-1] + s[n/2]) / 2;\n}\nfunction afstand(aLng, aLat, bLng, bLat) {\n  const dx = aLng - bLng, dy = aLat - bLat;\n  return Math.sqrt(dx*dx + dy*dy);\n}\nfunction vindCountryCode(feature) {\n  try {\n    if (feature.place_type && feature.place_type.indexOf('country') !== -1) {\n      return (feature.properties && feature.properties.short_code) ? feature.properties.short_code.toUpperCase() : null;\n    }\n    if (feature.context) {\n      const c = feature.context.find(function(x){ return x.id && x.id.indexOf('country') === 0; });\n      if (c && c.short_code) return c.short_code.toUpperCase();\n    }\n  } catch(e) {}\n  return null;\n}\n\nconst out = [];\nfor (const item of items) {\n  const route = item.json.route || [];\n  const valid = route.filter(function(s){ return s.latitude != null && s.longitude != null; });\n\n  // robuust middelpunt van de reis (mediaan is ongevoelig voor 1 foute uitschieter)\n  const medLat = mediaan(valid.map(function(s){ return s.latitude; }));\n  const medLng = mediaan(valid.map(function(s){ return s.longitude; }));\n\n  for (const s of route) {\n    const q = encodeURIComponent((s.destination_geocode || s.destination) + ', ' + (s.country || ''));\n    const url = base + q + '.json';\n    let resp;\n    try {\n      resp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        qs: { access_token: token, limit: 1, types: 'place,region,country,locality', proximity: medLng + ',' + medLat },\n        json: true\n      });\n    } catch(e) { continue; }\n\n    const f = resp && resp.features && resp.features[0];\n    if (!f || !f.center) continue;\n    const newLng = f.center[0], newLat = f.center[1];\n\n    if (s.latitude == null || s.longitude == null) {\n      // had geen coordinaten: red de stop met het proximity-resultaat\n      s.longitude = newLng; s.latitude = newLat;\n      s.place_name = f.place_name;\n      s.country_code = vindCountryCode(f) || s.country_code;\n      continue;\n    }\n\n    const dOud = afstand(s.longitude, s.latitude, medLng, medLat);\n    const dNieuw = afstand(newLng, newLat, medLng, medLat);\n    // alleen verplaatsen als het nieuwe punt DUIDELIJK dichter bij de route ligt\n    // (correcte verre stops zoals Kruger blijven zo onaangeroerd)\n    if (dNieuw < dOud - 0.05) {\n      s.longitude = newLng; s.latitude = newLat;\n      s.place_name = f.place_name;\n      s.country_code = vindCountryCode(f) || s.country_code;\n    }\n  }\n\n  out.push({ json: Object.assign({}, item.json, { route: route }) });\n}\nreturn out;"
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw request body": {
      "main": [
        [
          {
            "node": "Claude - Extraheer bestemmingen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Extraheer bestemmingen": {
      "main": [
        [
          {
            "node": "Parse Claude JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude JSON": {
      "main": [
        [
          {
            "node": "Bouw Mapbox URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapbox Geocoding": {
      "main": [
        [
          {
            "node": "Extraheer coördinaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraheer coördinaten": {
      "main": [
        [
          {
            "node": "Combineer resultaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw Mapbox URL": {
      "main": [
        [
          {
            "node": "Mapbox Geocoding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genereer HTML kaart": {
      "main": [
        [
          {
            "node": "HTML naar binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML naar binary": {
      "main": [
        [
          {
            "node": "Bouw upload body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Input": {
      "main": [
        [
          {
            "node": "Bouw request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraheer GitHub URL": {
      "main": [
        [
          {
            "node": "Google Sheets - Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw upload body": {
      "main": [
        [
          {
            "node": "Haal SHA op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload naar GitHub": {
      "main": [
        [
          {
            "node": "Extraheer GitHub URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haal SHA op": {
      "main": [
        [
          {
            "node": "Combineer SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verwijder van GitHub": {
      "main": [
        [
          {
            "node": "Herstel upload data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Herstel upload data": {
      "main": [
        [
          {
            "node": "Upload naar GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combineer SHA": {
      "main": [
        [
          {
            "node": "Verwijder van GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw dag label request": {
      "main": [
        [
          {
            "node": "Claude - Bereken dag labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Bereken dag labels": {
      "main": [
        [
          {
            "node": "Combineer dag labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verwerk dag labels": {
      "main": [
        [
          {
            "node": "Genereer HTML kaart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combineer dag labels": {
      "main": [
        [
          {
            "node": "Verwerk dag labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (voor publicatie)": {
      "main": [
        [
          {
            "node": "Google Sheets - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combineer resultaten": {
      "main": [
        [
          {
            "node": "Corrigeer geocoding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Corrigeer geocoding": {
      "main": [
        [
          {
            "node": "Bouw dag label request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger (voor publicatie)": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "dd88f505-d4ef-4f19-9a72-4eebde14158f",
  "activeVersionId": "dd88f505-d4ef-4f19-9a72-4eebde14158f",
  "versionCounter": 508,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-18T14:36:28.140Z",
      "createdAt": "2026-05-18T14:36:28.140Z",
      "role": "workflow:owner",
      "workflowId": "XPSwqndBGvARd0zq",
      "projectId": "ZCPBRpwl8u0y9vpR",
      "project": {
        "updatedAt": "2025-08-07T20:18:08.022Z",
        "createdAt": "2025-08-07T20:17:06.782Z",
        "id": "ZCPBRpwl8u0y9vpR",
        "name": "Getaway Travel <tools@getawaytravel.nl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bf908728-6154-42a7-8478-b1965a25e7b0"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-15T20:56:29.346Z",
    "createdAt": "2026-06-15T20:56:29.346Z",
    "versionId": "dd88f505-d4ef-4f19-9a72-4eebde14158f",
    "workflowId": "XPSwqndBGvARd0zq",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          22224,
          -2448
        ],
        "id": "fc2b6780-4fb5-4ce4-bf0c-a1ba207b2ea1",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst regels = [\n  'Je bent een data-extractie specialist voor Getaway Travel. Extraheer alle bestemmingen uit de onderstaande reisinformatie voor een routekaart.',\n  '',\n  'REGELS:',\n  '- Neem alle steden, eilanden, parken en regio\\'s op waar de reiziger overnacht of een substantieel deel van de dag doorbrengt',\n  '- Gebruik type \"arrival\" voor de aankomstplaats ALLEEN als de reiziger daar niet overnacht (bijv. vliegveld Preveza waar je landt en doorrijdt). Als de reiziger in de aankomststad overnacht (bijv. Johannesburg op dag 1), gebruik dan type \"destination\" met het juiste aantal verblijfsdagen.',\n  '- Neem de vertrekplaats aan het einde van de reis op als type \"transit\". Als de laatste verblijfplaats dezelfde stad is als de vertrekplaats (bijv. Kaapstad), voeg dan TOCH een aparte transit-stop toe met days: 0 — zodat de stad zowel als verblijfplaats als vertrekpunt op de kaart staat.',\n  '- Let op: een vliegveld als Preveza telt zowel als aankomst (type \"arrival\", order 1) als als vertrekstop (type \"transit\", laatste order). Beide mogen in de route staan ook al zijn het dezelfde coördinaten.',\n  '- Transit-stops zijn: ferry-havens waar de reiziger een boot pakt, vliegvelden in het reisland waar een binnenlandse vlucht vertrekt of aankomt, directe aansluitingspunten, én plaatsen waar tijdens een reisdag tussen twee verblijfplaatsen bewust wordt gestopt voor een bezoek (bijv. de tempels van Ayutthaya of de drijvende markt van Damnoen Saduak onderweg naar de volgende bestemming). GEEN transit-stops: plaatsen waar alleen doorheen wordt gereden of die alleen als reisinfo of richtingaanwijzer worden genoemd (bijv. Blyde River Canyon, Tsitsikamma, Wilderness), en daguitstapjes vanuit een vaste uitvalsbasis waarbij de reiziger \\'s avonds terugkeert.',\n  '- Kijk ook in de reisinformatie (niet alleen de dag-tot-dag) voor transit-stops. Als de tekst zegt \"je reist naar [haven] waar de ferry je naar [eiland] brengt\", neem dan [haven] op als transit-stop.',\n  '- Een transit-stop heeft altijd days: 0 en type: \"transit\"',\n  '- BELANGRIJK: voeg een tussenstop ALLEEN toe als de plaats expliciet in de tekst als bezoek, stop of overnachting wordt genoemd. Leid GEEN tussenstops af die niet met zoveel woorden zo worden beschreven — ook geen havens, eilanden of plaatsen die alleen impliciet onderweg lijken te liggen. Bij twijfel: weglaten.',\n  '- Filter vertrekplaatsen in Nederland eruit (Amsterdam, Rotterdam, Eindhoven etc.)',\n  '- Laat daguitstapjes weg waarbij de reiziger \\'s avonds terugkeert naar dezelfde uitvalsbasis',\n  '- Neem alleen plaatsen op waar de reiziger daadwerkelijk overnacht of de nacht doorbrengt. Een park of stad die wordt doorkruist of bezocht als dagexcursie telt NIET mee, ook niet als het prominent in de tekst staat (bijv. Blyde River Canyon, Tsitsikamma, Wilderness zijn geen stops — de reiziger slaapt er niet).',\n  '- Vermeld bij elke bestemming altijd het land in het Engels',\n  '- Tel het aantal verblijfsdagen per bestemming (een dagbereik \"Dag 6 t/m 9\" = 4 dagen)',\n  '- Nummer de bestemmingen op volgorde van bezoek',\n  '- Gebruik voor \"destination\" de naam zoals die in de inputtekst staat',\n '- Als de tekst een specifieke stad, wijk of dorp noemt als overnachtingsplek die binnen circa 30 kilometer van een grotere, bekendere bestemming ligt (bijv. Houtbaai bij Kaapstad), gebruik dan de grotere bestemming als destination én destination_geocode. Alleen als de verblijfplaats écht een eigen bestemming is op meer dan 30 kilometer afstand, neem je hem als aparte stop op. En: als de verblijfplaats een klein dorp op een eiland is dat al als bestemming telt (bijv. Agia Efimia op Kefalonia), gebruik dan de eilandnaam als destination.',\n  '- Gebruik voor \"destination_geocode\" de meest gangbare Engelstalige plaatsnaam die Mapbox Geocoding het beste herkent',\n  '- Kies voor de geocode de meest herkenbare, bekende plaats die bij de bestemming hoort, ook als het feitelijke verblijf iets verderop ligt. Een reiziger moet de pin direct kunnen plaatsen. Voorbeeld: bij \"River Kwai\" is dat Kanchanaburi, de stad met de beroemde brug — gebruik \"Kanchanaburi\" als destination_geocode, ook al ligt het hotel bij Sai Yok.',\n  '- Gebruik type \"destination\" voor reguliere verblijfplaatsen',\n  '- Als aankomstplaats en verblijfplaats dezelfde stad zijn (bijv. aankomst Bangkok én verblijf Bangkok), neem dan ALLEEN de verblijfbestemming op met type \"destination\" en sla de arrival stop volledig over. Voeg die stad dus NIET twee keer toe.',\n  '- Bij seizoensgebonden verblijfplaatsen (herkenbaar aan een schuine streep in de koptekst, bijv. \"Knysna – Swellendam/Hermanus\" of een zin als \"in de periode juni-november verblijf je in Hermanus\"): neem ALTIJD BEIDE plaatsen op als aparte, opeenvolgende stops van type \"destination\" met elk days: 1. Sla er dus NOOIT één van over — Swellendam én Hermanus moeten beide in de route staan.',\n  '',\n  '- Voeg bij elke stop een \"transport\" veld toe: het vervoersmiddel waarmee de reiziger van de VORIGE stop naar DEZE stop reist',\n  '- Gebruik ALLEEN: \"car\", \"flight\", \"ferry\", \"train\", \"cruise\", \"walk\", \"unknown\"',\n  '- \"car\" = standaard voor rondreis per huurauto, 4WD, camper, minibus of groepsbus',\n  '- \"flight\" = alleen voor vluchten BINNEN de reis tussen twee bestemmingen (NIET de internationale heenvlucht vanuit Nederland)',\n  '- \"ferry\" = overtocht per boot, ferry, speedboot of catamaran tussen twee plaatsen',\n  '- \"train\" = treinreis tussen twee bestemmingen (ook hogesnelheidstrein/shinkansen)',\n  '- \"cruise\" = reiziger vaart op een cruiseschip of riviercruise (dahabiya, Nijlcruise) van A naar B',\n  '- \"walk\" = trekkingreis waarbij de reiziger lopend van A naar B gaat',\n  '- Kijk zowel naar expliciete vermeldingen als naar context (eilandenreis = waarschijnlijk ferry, safarigebied = waarschijnlijk auto)',\n  '- Negeer lokaal vervoer tijdens excursies (tuk-tuk, riksja, lokale bus voor daguitstap)',\n  '- Tussenstops die alleen worden aangedaan onderweg (bijv. een drijvende markt of historische plek als dagstop) zijn transit-stops met type: \"transit\" en days: 0, ook als ze in de tekst prominent worden beschreven',\n  '- De eerste stop krijgt transport: \"flight\" als de reis per vliegtuig vanuit Nederland begint, anders \"unknown\"',\n  '',\n  '- Voeg bij elke stop een \"bekendheid\" veld toe: een getal 1, 2 of 3 dat aangeeft hoe toeristisch bekend/iconisch de bestemming is. Kijk HEEL goed naar de context van de reistekst: hoeveel aandacht krijgt de plek, wordt het als hoogtepunt beschreven, zijn er wereldberoemde bezienswaardigheden?',\n  '  - 3 = wereldberoemd / iconisch hoogtepunt van de reis (bijv. Siem Reap met Angkor Wat, Bangkok, Kaapstad, Luang Prabang, Drakensberg, Chiang Mai)',\n  '  - 2 = bekende, aantrekkelijke bestemming maar geen wereldwonder (bijv. Hua Hin, Knysna, Vang Vieng, Addo)',\n  '  - 1 = doorrij-, transit- of overnachtingsplaats zonder grote toeristische trekpleister (bijv. Nakhon Pathom, Clarens, Cradock, Damnoen Saduak)',\n  '  - Wees streng: niet alles is een 3. Gebruik de relatieve nadruk in de tekst als leidraad.',\n  '',\n  'Geef ALLEEN een geldig JSON object terug, zonder uitleg, inleiding of markdown:',\n  '',\n  '{',\n  '  \"route\": [',\n  '    { \"order\": 1, \"destination\": \"Bangkok\", \"destination_geocode\": \"Bangkok\", \"country\": \"Thailand\", \"days\": 3, \"type\": \"destination\", \"transport\": \"flight\", \"bekendheid\": 3, \"day_label\": \"Dag 1-4\" },',\n  '    { \"order\": 2, \"destination\": \"Damnoen Saduak\", \"destination_geocode\": \"Damnoen Saduak\", \"country\": \"Thailand\", \"days\": 0, \"type\": \"transit\", \"transport\": \"car\", \"bekendheid\": 1, \"day_label\": \"Dag 5\" },',\n  '    { \"order\": 3, \"destination\": \"River Kwai\", \"destination_geocode\": \"Kanchanaburi\", \"country\": \"Thailand\", \"days\": 2, \"type\": \"destination\", \"transport\": \"car\", \"bekendheid\": 2, \"day_label\": \"Dag 5-6\" },',\n  '    { \"order\": 4, \"destination\": \"Chiang Mai\", \"destination_geocode\": \"Chiang Mai\", \"country\": \"Thailand\", \"days\": 3, \"type\": \"destination\", \"transport\": \"train\", \"bekendheid\": 3, \"day_label\": \"Dag 8-10\" },',\n  '    { \"order\": 5, \"destination\": \"Hua Hin\", \"destination_geocode\": \"Hua Hin\", \"country\": \"Thailand\", \"days\": 4, \"type\": \"destination\", \"transport\": \"flight\", \"bekendheid\": 2, \"day_label\": \"Dag 11-15\" }',\n  '  ]',\n  '}',\n  '',\n  '---',\n  '',\n  'Dag tot dag:',\n  '<<DAG_TOT_DAG>>',\n  '',\n  'Reisinformatie:',\n  '<<REISINFORMATIE>>'\n];\n\nconst promptTemplate = regels.join('\\n');\n\nreturn items.map(function(item) {\n  const dagTotDag = item.json['Dag tot dag - generated'] || '';\n  const reisinformatie = item.json['Reisinformatie - scraped'] || '';\n  const url = item.json.URL || '';\n\n  const prompt = promptTemplate\n    .replace('<<DAG_TOT_DAG>>', dagTotDag)\n    .replace('<<REISINFORMATIE>>', reisinformatie);\n\n  const requestBody = {\n    model: 'claude-opus-4-8',\n    max_tokens: 8000,\n    messages: [{ role: 'user', content: prompt }]\n  };\n\n  return { json: { requestBody: JSON.stringify(requestBody), url: url } };\n});"
        },
        "id": "f065a5c5-0231-4cc3-8282-e609dd92cb82",
        "name": "Bouw request body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          22736,
          -2448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {}
        },
        "id": "1adcec2a-4847-4f3e-89e7-13c690585ac7",
        "name": "Claude - Extraheer bestemmingen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          22976,
          -2448
        ],
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "sDmugZ8UnWZjdCY3",
            "name": "Header Auth account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const claudeResponses = $input.all();\nconst tripItems = $('Bouw request body').all();\n\nconst allDestinations = [];\n\nclaudeResponses.forEach(function(response, tripIndex) {\n  const textBlock = (response.json.content || []).find(function(c) { return c.type === 'text' && c.text; });\n  const responseText = textBlock ? textBlock.text : '';\n  if (!responseText) return;\n  const url = tripItems[tripIndex] ? tripItems[tripIndex].json.url || '' : '';\n  const clean = responseText.replace(/```json|```/g, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(clean);\n  } catch(e) {\n    return;\n  }\n\n  parsed.route.forEach(function(dest) {\n    allDestinations.push({\n      json: {\n        order: dest.order,\n        destination: dest.destination,\n        destination_geocode: dest.destination_geocode || dest.destination,\n        country: dest.country,\n        days: dest.days,\n        type: dest.type || 'destination',\n        transport: dest.transport || 'unknown',\n        bekendheid: dest.bekendheid || 1,\n        day_label: dest.day_label || '',\n        url: url\n      }\n    });\n  });\n});\n\nreturn allDestinations;"
        },
        "id": "1ea292d6-caec-4900-9e17-00c145d9bf2e",
        "name": "Parse Claude JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          23200,
          -2448
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.mapboxUrl }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "access_token",
                "value": "REDACTED_MAPBOX_PUBLIC_TOKEN"
              },
              {
                "name": "limit",
                "value": "1"
              },
              {
                "name": "types",
                "value": "place,region,country,locality"
              }
            ]
          },
          "options": {}
        },
        "id": "5eaa4348-0433-4dc5-805c-0362cd78bb26",
        "name": "Mapbox Geocoding",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          23712,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const mapboxItems = $input.all();\nconst destinationItems = $('Bouw Mapbox URL').all();\n\nfunction vindCountryCode(feature) {\n  try {\n    if (feature.place_type && feature.place_type.indexOf('country') !== -1) {\n      return (feature.properties && feature.properties.short_code) ? feature.properties.short_code.toUpperCase() : null;\n    }\n    if (feature.context) {\n      const c = feature.context.find(function(x) { return x.id && x.id.indexOf('country') === 0; });\n      if (c && c.short_code) return c.short_code.toUpperCase();\n    }\n  } catch(e) {}\n  return null;\n}\n\nreturn mapboxItems.map(function(item, i) {\n  const dest = destinationItems[i] ? destinationItems[i].json : {};\n\n  let features = [];\n  try {\n    const raw = item.json.data;\n    const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    features = parsed.features || [];\n  } catch(e) {}\n\n  if (!features || features.length === 0) {\n    return {\n      json: {\n        order: dest.order,\n        destination: dest.destination,\n        destination_geocode: dest.destination_geocode || dest.destination,\n        country: dest.country,\n        days: dest.days,\n        type: dest.type || 'destination',\n        transport: dest.transport || 'car',\n        bekendheid: dest.bekendheid || 1,\n        day_label: dest.day_label || '',\n        url: dest.url || '',\n        latitude: null,\n        longitude: null,\n        place_name: null,\n        country_code: null,\n        error: 'Geen coordinaten gevonden'\n      }\n    };\n  }\n\n  return {\n    json: {\n      order: dest.order,\n      destination: dest.destination,\n      destination_geocode: dest.destination_geocode || dest.destination,\n      country: dest.country,\n      days: dest.days,\n      type: dest.type || 'destination',\n      transport: dest.transport || 'car',\n      bekendheid: dest.bekendheid || 1,\n      day_label: dest.day_label || '',\n      url: dest.url || '',\n      latitude: features[0].center[1],\n      longitude: features[0].center[0],\n      place_name: features[0].place_name,\n      country_code: vindCountryCode(features[0])\n    }\n  };\n});"
        },
        "id": "d02ba90f-e952-4f47-81a3-0b8decb039e9",
        "name": "Extraheer coördinaten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          23984,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\n\nconst tripMap = {};\nallItems.forEach(function(item) {\n  const url = item.json.url || '';\n  if (!tripMap[url]) {\n    tripMap[url] = [];\n  }\n  tripMap[url].push({\n    order: item.json.order,\n    destination: item.json.destination,\n    destination_geocode: item.json.destination_geocode || item.json.destination,\n    country: item.json.country,\n    country_code: item.json.country_code || null,\n    days: item.json.days,\n    type: item.json.type || 'destination',\n    transport: item.json.transport || 'unknown',\n    bekendheid: item.json.bekendheid || 1,\n    url: item.json.url || '',\n    latitude: item.json.latitude,\n    longitude: item.json.longitude,\n    place_name: item.json.place_name\n  });\n});\n\nreturn Object.keys(tripMap).map(function(url) {\n  const route = tripMap[url].sort(function(a, b) { return a.order - b.order; });\n  return {\n    json: {\n      URL: url,\n      route: route,\n      total_destinations: route.length,\n      generated_at: new Date().toISOString()\n    }\n  };\n});"
        },
        "id": "ec28e3ca-75e3-4e07-b7fd-92b564f4e994",
        "name": "Combineer resultaten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24192,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn items.map(function(item, index) {\n  const destinationGeocode = item.json.destination_geocode || item.json.destination;\n  const country = item.json.country;\n  const searchText = encodeURIComponent(destinationGeocode + ', ' + country);\n  const mapboxUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + searchText + '.json';\n  return {\n    json: {\n      _index: index,\n      order: item.json.order,\n      destination: item.json.destination,\n      destination_geocode: destinationGeocode,\n      country: country,\n      days: item.json.days,\n      type: item.json.type || 'destination',\n      transport: item.json.transport || 'car',\n      bekendheid: item.json.bekendheid || 1,\n      url: item.json.url || '',\n      mapboxUrl: mapboxUrl\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          23456,
          -2448
        ],
        "id": "db43ab55-2a66-4653-9c74-c3a3fb4133d4",
        "name": "Bouw Mapbox URL"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst landNL = {\n  'thailand': 'Thailand', 'laos': 'Laos', 'cambodia': 'Cambodja', 'vietnam': 'Vietnam',\n  'myanmar': 'Myanmar', 'malaysia': 'Maleisi\\u00eb', 'indonesia': 'Indonesi\\u00eb', 'singapore': 'Singapore',\n  'philippines': 'Filipijnen', 'japan': 'Japan', 'china': 'China', 'india': 'India', 'nepal': 'Nepal',\n  'sri lanka': 'Sri Lanka', 'south africa': 'Zuid-Afrika', 'eswatini': 'eSwatini', 'lesotho': 'Lesotho',\n  'namibia': 'Namibi\\u00eb', 'botswana': 'Botswana', 'zimbabwe': 'Zimbabwe', 'zambia': 'Zambia',\n  'tanzania': 'Tanzania', 'kenya': 'Kenia', 'mozambique': 'Mozambique', 'morocco': 'Marokko',\n  'egypt': 'Egypte', 'jordan': 'Jordani\\u00eb', 'greece': 'Griekenland', 'italy': 'Itali\\u00eb',\n  'spain': 'Spanje', 'portugal': 'Portugal', 'france': 'Frankrijk', 'croatia': 'Kroati\\u00eb',\n  'peru': 'Peru', 'argentina': 'Argentini\\u00eb', 'chile': 'Chili', 'brazil': 'Brazili\\u00eb',\n  'bolivia': 'Bolivia', 'ecuador': 'Ecuador', 'colombia': 'Colombia', 'costa rica': 'Costa Rica',\n  'mexico': 'Mexico', 'cuba': 'Cuba', 'united states': 'Verenigde Staten', 'canada': 'Canada',\n  'australia': 'Australi\\u00eb', 'new zealand': 'Nieuw-Zeeland', 'iceland': 'IJsland',\n  'norway': 'Noorwegen', 'sweden': 'Zweden', 'turkey': 'Turkije', 'united kingdom': 'Verenigd Koninkrijk',\n  'ireland': 'Ierland', 'germany': 'Duitsland', 'austria': 'Oostenrijk', 'switzerland': 'Zwitserland'\n};\nfunction naarNL(land) {\n  const key = (land || '').toLowerCase().trim();\n  return landNL[key] || land;\n}\n\nreturn items.map(function(item) {\n  const route = item.json.route;\n  const url = item.json.URL;\n\n  const validStops = route\n    .filter(function(s) { return s.latitude !== null && s.longitude !== null && s.latitude !== undefined && s.longitude !== undefined; })\n    .sort(function(a, b) { return a.order - b.order; });\n\n  const stopNamenSet = {};\n  validStops.forEach(function(s) { stopNamenSet[(s.destination || '').toLowerCase().trim()] = true; });\n\n  const landGezien = {};\n  validStops.forEach(function(s) {\n    const land = (s.country || '').trim();\n    const landLower = land.toLowerCase();\n    if (land && !landGezien[landLower] && !stopNamenSet[landLower]) {\n      landGezien[landLower] = true;\n      s._toonLand = naarNL(land);\n    } else {\n      s._toonLand = '';\n      if (land) landGezien[landLower] = true;\n    }\n  });\n\n  const legenda = validStops.map(function(stop) {\n    const dagLabel = stop.day_label || (stop.type === 'transit' ? 'tussenstop' : stop.type === 'arrival' ? 'aankomst/vertrek' : '');\n    return stop.order + '. ' + stop.destination + (dagLabel ? ' - ' + dagLabel : '');\n  }).join('\\n');\n\n  const eersteOrder = validStops.length ? validStops[0].order : null;\n  const laatsteOrder = validStops.length ? validStops[validStops.length - 1].order : null;\n\n  const markersJson = JSON.stringify(validStops.map(function(s) {\n    return {\n      order: s.order, destination: s.destination, country: s.country || '', toonLand: s._toonLand || '', days: s.days,\n      lng: s.longitude, lat: s.latitude, type: s.type || 'destination',\n      transport: s.transport || 'car', bekendheid: s.bekendheid || 1, day_label: s.day_label || '',\n      isStart: s.order === eersteOrder, isEind: s.order === laatsteOrder\n    };\n  }));\n\n  const reisNaam = url.split('/').filter(Boolean).pop() || 'rondreis';\n  const avgLng = validStops.reduce(function(sum, s) { return sum + s.longitude; }, 0) / validStops.length;\n  const avgLat = validStops.reduce(function(sum, s) { return sum + s.latitude; }, 0) / validStops.length;\n\n  const segmentsJson = JSON.stringify(validStops.slice(1).map(function(s, i) {\n    return { from: [validStops[i].longitude, validStops[i].latitude], to: [s.longitude, s.latitude], transport: s.transport || 'car' };\n  }));\n\n  const gezien = {};\n  const tripCountries = [];\n  validStops.forEach(function(s) {\n    if (s.country_code && !gezien[s.country_code]) { gezien[s.country_code] = true; tripCountries.push(s.country_code); }\n  });\n  const tripCountriesJson = JSON.stringify(tripCountries);\n\n  const html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Routekaart - ${reisNaam}</title>\n<script src=\"https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js\"></script>\n<link href=\"https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css\" rel=\"stylesheet\">\n<style>\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { font-family: -apple-system, BlinkMacSystemFont, sans-serif; background: #F9FBFB; }\n  #map { width: 100%; height: 65vh; min-height: 420px; }\n  .land-label-marker { pointer-events: none; }\n  .stop-land { font-size: 15px; font-weight: 700; font-style: italic; color: #FFFFFF; text-transform: uppercase; letter-spacing: 0.5px; white-space: nowrap; text-shadow: 0 1px 2px rgba(40,48,56,0.78); }\n  #legenda { padding: 16px 20px; background: #F9FBFB; border-top: 1px solid #ABC6CB; }\n  #legenda h3 { font-size: 15px; font-weight: 600; margin-bottom: 10px; color: #3B4651; }\n  .legenda-uitleg { display: flex; gap: 16px; margin-bottom: 12px; font-size: 11px; color: #3B4651; flex-wrap: wrap; }\n  .legenda-uitleg span { display: inline-flex; align-items: center; gap: 5px; }\n  .mini-ring { width: 11px; height: 11px; border-radius: 50%; background: #F9FBFB; border: 2px solid #3B4651; display: inline-block; }\n  .legenda-item { display: flex; align-items: center; gap: 10px; padding: 6px 0; border-bottom: 1px solid #B9D9E0; font-size: 13px; color: #3B4651; }\n  .legenda-item:last-child { border-bottom: none; }\n  .legenda-dag { color: #3B4651; font-size: 12px; font-weight: 600; min-width: 72px; flex-shrink: 0; }\n  .legenda-transport { display: inline-flex; align-items: center; margin-left: 2px; }\n  .mapboxgl-popup-content { padding: 10px 14px; border-radius: 8px; font-family: -apple-system, BlinkMacSystemFont, sans-serif; box-shadow: 0 2px 8px rgba(59,70,81,0.2); background: #F9FBFB; }\n  .popup-title { font-weight: 600; font-size: 13px; margin-bottom: 3px; color: #3B4651; }\n  .popup-dagen { color: #3B4651; font-size: 12px; }\n  .popup-transport { font-size: 11px; color: #3B4651; margin-top: 2px; display: flex; align-items: center; gap: 4px; }\n</style>\n</head>\n<body>\n<div id=\"map\"></div>\n<div id=\"legenda\">\n  <h3>Route</h3>\n  <div class=\"legenda-uitleg\">\n    <span><span class=\"mini-ring\"></span> Start- en eindpunt</span>\n  </div>\n  <div id=\"legenda-items\"></div>\n</div>\n<script>\nmapboxgl.accessToken = new URLSearchParams(window.location.search).get('t') || '';\n\nconst stops = ${markersJson};\nconst segments = ${segmentsJson};\nconst tripCountries = ${tripCountriesJson};\n\nconst KLEUR_LICHT = '#F9FBFB';\nconst KLEUR_BLAUW = '#B9D9E0';\nconst KLEUR_DONKER = '#3B4651';\nconst KLEUR_GRIJS = '#ABC6CB';\n\nconst transportConfig = {\n  flight:  { dash: [2, 2], width: 2, label: 'Vlucht',     svg: 'M21,16v-2l-8-5V3.5C13,2.67,12.33,2,11.5,2S10,2.67,10,3.5V9l-8,5v2l8-2.5V19l-2,1.5V22l3.5-1l3.5,1v-1.5L13,19v-5.5L21,16z' },\n  ferry:   { dash: [4, 2], width: 2, label: 'Ferry/boot', svg: 'M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2c0.98,1.12,2.4,2,4,2h0.05l1.89-6.68c0.08-0.26,0.06-0.54-0.06-0.78s-0.34-0.42-0.6-0.5L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62l-1.29,0.42c-0.26,0.08-0.48,0.26-0.6,0.5s-0.15,0.52-0.06,0.78L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z' },\n  train:   { dash: [6, 2], width: 3, label: 'Trein',      svg: 'M12,2c-4.42,0-8,0.5-8,4v9.5C4,17.43,5.57,19,7.5,19L6,20.5V21h12v-0.5L16.5,19c1.93,0,3.5-1.57,3.5-3.5V6C20,2.5,16.42,2,12,2z M7.5,17C6.67,17,6,16.33,6,15.5S6.67,14,7.5,14S9,14.67,9,15.5S8.33,17,7.5,17z M11,11H6V6h5V11z M16.5,17c-0.83,0-1.5-0.67-1.5-1.5s0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5S17.33,17,16.5,17z M18,11h-5V6h5V11z' },\n  cruise:  { dash: [8, 3], width: 3, label: 'Cruise',     svg: 'M20,21c-1.39,0-2.78-0.47-4-1.32c-2.44,1.71-5.56,1.71-8,0C6.78,20.53,5.39,21,4,21H2v2h2c1.38,0,2.74-0.35,4-0.99c2.52,1.29,5.48,1.29,8,0c1.26,0.65,2.62,0.99,4,0.99h2v-2H20z M3.95,19H4c1.6,0,3.02-0.88,4-2c0.98,1.12,2.4,2,4,2s3.02-0.88,4-2c0.98,1.12,2.4,2,4,2h0.05l1.89-6.68c0.08-0.26,0.06-0.54-0.06-0.78s-0.34-0.42-0.6-0.5L20,10.62V6c0-1.1-0.9-2-2-2h-3V1H9v3H6C4.9,4,4,4.9,4,6v4.62l-1.29,0.42c-0.26,0.08-0.48,0.26-0.6,0.5s-0.15,0.52-0.06,0.78L3.95,19z M6,6h12v3.97L12,8L6,9.97V6z' },\n  walk:    { dash: [2, 3], width: 2, label: 'Wandelen',   svg: 'M13.5,5.5c1.1,0,2-0.9,2-2s-0.9-2-2-2s-2,0.9-2,2S12.4,5.5,13.5,5.5z M9.8,8.9L7,23h2.1l1.8-8l2.1,2v6h2v-7.5l-2.1-2l0.6-3C12.8,11,14.8,12,17,12v-2c-1.9,0-3.5-1-4.3-2.4l-1-1.6C11.3,5.4,10.7,5,10,5C9.7,5,9.5,5.1,9.2,5.1L4,7.3V13h2V8.6l1.8-0.7' },\n  car:     { dash: [],     width: 3, label: 'Auto',       svg: '' },\n  unknown: { dash: [],     width: 2, label: '',           svg: '' }\n};\n\nfunction svgIcon(pad, maat, halo) {\n  if (!pad) return '';\n  var h = halo ? '<path d=\"' + pad + '\" fill=\"none\" stroke=\"' + KLEUR_LICHT + '\" stroke-width=\"3.5\" stroke-linejoin=\"round\" stroke-linecap=\"round\"/>' : '';\n  return '<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"' + maat + '\" height=\"' + maat + '\" viewBox=\"0 0 24 24\" fill=\"' + KLEUR_DONKER + '\">' + h + '<path d=\"' + pad + '\"/></svg>';\n}\n\nfunction boogCoords(from, to, transport, punten) {\n  punten = punten || 40;\n  var useBoog = (transport === 'flight' || transport === 'ferry' || transport === 'cruise');\n  if (!useBoog) {\n    var rechte = [];\n    for (var k = 0; k <= punten; k++) {\n      var tt = k / punten;\n      rechte.push([from[0] + (to[0] - from[0]) * tt, from[1] + (to[1] - from[1]) * tt]);\n    }\n    return rechte;\n  }\n  var dx = to[0] - from[0]; var dy = to[1] - from[1];\n  var dist = Math.sqrt(dx*dx + dy*dy);\n  var boogHoogte = dist * (transport === 'flight' ? 0.40 : 0.20);\n  var mx = (from[0] + to[0]) / 2; var my = (from[1] + to[1]) / 2;\n  var nx = -dy / dist; var ny = dx / dist;\n  var ctrl = [mx + nx * boogHoogte, my + ny * boogHoogte];\n  var coords = [];\n  for (var i = 0; i <= punten; i++) {\n    var t = i / punten;\n    var x = (1-t)*(1-t)*from[0] + 2*(1-t)*t*ctrl[0] + t*t*to[0];\n    var y = (1-t)*(1-t)*from[1] + 2*(1-t)*t*ctrl[1] + t*t*to[1];\n    coords.push([x, y]);\n  }\n  return coords;\n}\n\nconst landenFilter = ['all',\n  ['any', ['==', ['get', 'worldview'], 'all'], ['in', 'US', ['get', 'worldview']]],\n  ['in', ['get', 'iso_3166_1'], ['literal', tripCountries]]\n];\n\nconst map = new mapboxgl.Map({\n  container: 'map',\n  style: {\n    version: 8,\n    glyphs: 'mapbox://fonts/mapbox/{fontstack}/{range}.pbf',\n    sources: { landen: { type: 'vector', url: 'mapbox://mapbox.country-boundaries-v1' } },\n    layers: [\n      { id: 'achtergrond', type: 'background', paint: { 'background-color': KLEUR_LICHT } },\n      { id: 'reisland-vlak', type: 'fill', source: 'landen', 'source-layer': 'country_boundaries', filter: landenFilter, paint: { 'fill-color': KLEUR_BLAUW } },\n      { id: 'reisland-grens', type: 'line', source: 'landen', 'source-layer': 'country_boundaries', filter: landenFilter, paint: { 'line-color': KLEUR_GRIJS, 'line-width': 1.5 } }\n    ]\n  },\n  center: [${avgLng}, ${avgLat}],\n  zoom: 4\n});\n\nmap.addControl(new mapboxgl.NavigationControl(), 'top-right');\nmap.addControl(new mapboxgl.FullscreenControl(), 'top-right');\n\nmap.on('load', function() {\n\n  var transportMarkers = [];\n\n  segments.forEach(function(seg, idx) {\n    var cfg = transportConfig[seg.transport] || transportConfig.unknown;\n    var coords = boogCoords(seg.from, seg.to, seg.transport);\n    var sourceId = 'route-' + idx; var layerId = 'route-line-' + idx;\n    map.addSource(sourceId, { type: 'geojson', data: { type: 'Feature', geometry: { type: 'LineString', coordinates: coords } } });\n    var paint = { 'line-color': KLEUR_DONKER, 'line-width': cfg.width, 'line-opacity': 0.9 };\n    if (cfg.dash && cfg.dash.length > 0) { paint['line-dasharray'] = cfg.dash; }\n    map.addLayer({ id: layerId, type: 'line', source: sourceId, layout: { 'line-join': 'round', 'line-cap': 'round' }, paint: paint });\n\n    if (cfg.svg) {\n      var iconPos = coords[Math.floor(coords.length * 0.5)];\n      var iconEl = document.createElement('div');\n      iconEl.style.cssText = 'cursor:default;user-select:none;line-height:0;';\n      var innerEl = document.createElement('div');\n      innerEl.style.cssText = 'line-height:0;';\n      if (seg.transport === 'flight') {\n        var fLatRad = ((seg.from[1] + seg.to[1]) / 2) * Math.PI / 180;\n        var fdx = (seg.to[0] - seg.from[0]) * Math.cos(fLatRad);\n        var fdy = -(seg.to[1] - seg.from[1]);\n        var fHoek = Math.atan2(fdy, fdx) * 180 / Math.PI + 90;\n        innerEl.style.transform = 'rotate(' + fHoek + 'deg)';\n      }\n      innerEl.innerHTML = svgIcon(cfg.svg, 16, true);\n      iconEl.appendChild(innerEl);\n      new mapboxgl.Marker({ element: iconEl, anchor: 'center' }).setLngLat(iconPos).addTo(map);\n      transportMarkers.push({ el: iconEl, lngLat: iconPos });\n    }\n  });\n\n  var perLocatie = {};\n  stops.forEach(function(stop) {\n    var key = stop.lng.toFixed(5) + ',' + stop.lat.toFixed(5);\n    if (!perLocatie[key]) perLocatie[key] = [];\n    perLocatie[key].push(stop);\n  });\n\n  var TOON_LANDNAMEN = false;\n\n  function locKey(s){ return s.lng.toFixed(5) + ',' + s.lat.toFixed(5); }\n  var lijnRichtingen = {};\n  for (var li = 0; li < stops.length; li++) {\n    var ls = stops[li];\n    var lk = locKey(ls);\n    if (!lijnRichtingen[lk]) lijnRichtingen[lk] = [];\n    var buren = [];\n    if (li > 0) buren.push(stops[li - 1]);\n    if (li < stops.length - 1) buren.push(stops[li + 1]);\n    buren.forEach(function(b) {\n      var latRad = ls.lat * Math.PI / 180;\n      var gx = (b.lng - ls.lng) * Math.cos(latRad);\n      var gy = (b.lat - ls.lat);\n      var len = Math.sqrt(gx * gx + gy * gy);\n      if (len > 1e-9) lijnRichtingen[lk].push([gx / len, gy / len]);\n    });\n  }\n\n  var KANDIDATEN = [\n    { dir: [1, 0],   anchor: 'left',         off: [1.15, 0] },\n    { dir: [-1, 0],  anchor: 'right',        off: [-1.15, 0] },\n    { dir: [0, 1],   anchor: 'bottom',       off: [0, -1.15] },\n    { dir: [0, -1],  anchor: 'top',          off: [0, 1.15] },\n    { dir: [0.7071, 0.7071],   anchor: 'bottom-left',  off: [0.85, -0.85] },\n    { dir: [-0.7071, 0.7071],  anchor: 'bottom-right', off: [-0.85, -0.85] },\n    { dir: [0.7071, -0.7071],  anchor: 'top-left',     off: [0.85, 0.85] },\n    { dir: [-0.7071, -0.7071], anchor: 'top-right',    off: [-0.85, 0.85] }\n  ];\n  function kiesPlaatsing(vectoren) {\n    if (!vectoren || vectoren.length === 0) return { anchor: 'bottom', off: [0, -1.15] };\n    var best = KANDIDATEN[0], bestScore = -Infinity;\n    KANDIDATEN.forEach(function(c) {\n      var maxDot = -Infinity;\n      vectoren.forEach(function(v) {\n        var dot = c.dir[0] * v[0] + c.dir[1] * v[1];\n        if (dot > maxDot) maxDot = dot;\n      });\n      var score = -maxDot;\n      if (score > bestScore) { bestScore = score; best = c; }\n    });\n    return { anchor: best.anchor, off: best.off };\n  }\n\n  var dotFeatures = [];\n  var plaatsFeatures = [];\n  var landData = [];\n\n  Object.keys(perLocatie).forEach(function(key) {\n    var groep = perLocatie[key];\n    var stop = groep.find(function(s) { return s.type === 'destination'; }) || groep[0];\n    var toonLand = '';\n    groep.forEach(function(s) { if (s.toonLand && !toonLand) toonLand = s.toonLand; });\n    var isStart = groep.some(function(s){ return s.isStart; });\n    var isEind = groep.some(function(s){ return s.isEind; });\n    var isEindpunt = isStart || isEind;\n    var labels = [];\n    groep.forEach(function(s) {\n      var l = s.day_label || (s.type === 'transit' ? 'tussenstop' : s.type === 'arrival' ? 'aankomst/vertrek' : '');\n      if (l && labels.indexOf(l) === -1) labels.push(l);\n    });\n    var dagLabel = labels.join(' \\\\u00b7 ');\n    var cfg = transportConfig[stop.transport] || transportConfig.unknown;\n    var transportLabel = cfg.label ? (svgIcon(cfg.svg, 12) + ' ' + cfg.label) : '';\n\n    dotFeatures.push({\n      type: 'Feature',\n      geometry: { type: 'Point', coordinates: [stop.lng, stop.lat] },\n      properties: { isEindpunt: isEindpunt, destination: stop.destination, dagLabel: dagLabel, transportLabel: transportLabel }\n    });\n\n    var bekendheid = groep.reduce(function(m, s){ return Math.max(m, s.bekendheid || 1); }, 1);\n    var bijzonderVervoer = groep.some(function(s){ return ['flight','train','ferry','cruise'].indexOf(s.transport) !== -1; });\n    var sortKey;\n    if (isEindpunt) { sortKey = 0; }\n    else if (bijzonderVervoer) { sortKey = 10 - bekendheid; }\n    else { sortKey = 20 - bekendheid; }\n\n    var plaatsing = kiesPlaatsing(lijnRichtingen[key]);\n    plaatsFeatures.push({\n      type: 'Feature',\n      geometry: { type: 'Point', coordinates: [stop.lng, stop.lat] },\n      properties: { naam: stop.destination, sortKey: sortKey, anchor: plaatsing.anchor, offset: plaatsing.off }\n    });\n\n    if (toonLand) {\n      landData.push({ lng: stop.lng, lat: stop.lat, toonLand: toonLand });\n    }\n  });\n\n  map.addSource('stops-dots', { type: 'geojson', data: { type: 'FeatureCollection', features: dotFeatures } });\n  map.addLayer({\n    id: 'stops-dots-layer',\n    type: 'circle',\n    source: 'stops-dots',\n    paint: {\n      'circle-radius': 3.5,\n      'circle-color': ['case', ['get', 'isEindpunt'], KLEUR_LICHT, KLEUR_DONKER],\n      'circle-stroke-color': ['case', ['get', 'isEindpunt'], KLEUR_DONKER, KLEUR_LICHT],\n      'circle-stroke-width': ['case', ['get', 'isEindpunt'], 1.5, 1]\n    }\n  });\n\n  map.addSource('plaatsnamen', { type: 'geojson', data: { type: 'FeatureCollection', features: plaatsFeatures } });\n  map.addLayer({\n    id: 'plaatsnamen-layer',\n    type: 'symbol',\n    source: 'plaatsnamen',\n    layout: {\n      'text-field': ['get', 'naam'],\n      'text-font': ['DIN Pro Medium', 'Arial Unicode MS Regular'],\n      'text-size': 13,\n      'text-anchor': ['get', 'anchor'],\n      'text-offset': ['get', 'offset'],\n      'text-allow-overlap': false,\n      'text-ignore-placement': false,\n      'symbol-sort-key': ['get', 'sortKey']\n    },\n    paint: {\n      'text-color': KLEUR_DONKER,\n      'text-halo-color': KLEUR_LICHT,\n      'text-halo-width': 2.2\n    }\n  });\n\n  map.on('click', 'stops-dots-layer', function(e) {\n    var f = e.features[0];\n    var p = f.properties;\n    new mapboxgl.Popup({ offset: 12 })\n      .setLngLat(f.geometry.coordinates)\n      .setHTML('<div class=\"popup-title\">' + p.destination + '</div><div class=\"popup-dagen\">' + (p.dagLabel || '') + '</div>' + (p.transportLabel ? '<div class=\"popup-transport\">' + p.transportLabel + '</div>' : ''))\n      .addTo(map);\n  });\n  map.on('mouseenter', 'stops-dots-layer', function() { map.getCanvas().style.cursor = 'pointer'; });\n  map.on('mouseleave', 'stops-dots-layer', function() { map.getCanvas().style.cursor = ''; });\n\n  if (TOON_LANDNAMEN) {\n    landData.forEach(function(d) {\n      var lab = document.createElement('div');\n      lab.className = 'land-label-marker';\n      lab.innerHTML = '<div class=\"stop-land\">' + d.toonLand + '</div>';\n      var m = new mapboxgl.Marker({ element: lab, anchor: 'bottom', offset: [0, -30] }).setLngLat([d.lng, d.lat]).addTo(map);\n      m.getElement().style.zIndex = 1000;\n    });\n  }\n\n  function ververseTransportIconen() {\n    var obstakels = [];\n    try {\n      var namen = map.queryRenderedFeatures({ layers: ['plaatsnamen-layer'] });\n      namen.forEach(function(f) {\n        if (f.geometry && f.geometry.coordinates) {\n          var p = map.project(f.geometry.coordinates);\n          obstakels.push({ x: p.x, y: p.y - 16 });\n        }\n      });\n    } catch (e) {}\n    if (TOON_LANDNAMEN) {\n      landData.forEach(function(d) {\n        var p = map.project([d.lng, d.lat]);\n        obstakels.push({ x: p.x, y: p.y - 30 });\n      });\n    }\n    var DREMPEL = 24;\n    transportMarkers.forEach(function(tm) {\n      var p = map.project(tm.lngLat);\n      var botst = obstakels.some(function(o) {\n        var dx = p.x - o.x, dy = p.y - o.y;\n        return Math.sqrt(dx * dx + dy * dy) < DREMPEL;\n      });\n      tm.el.style.display = botst ? 'none' : '';\n    });\n  }\n  map.on('idle', ververseTransportIconen);\n\n  var bounds = new mapboxgl.LngLatBounds();\n  stops.forEach(function(s) { bounds.extend([s.lng, s.lat]); });\n  map.fitBounds(bounds, { padding: 70 });\n});\n\nvar legendaEl = document.getElementById('legenda-items');\nstops.forEach(function(stop) {\n  var dagLabel = stop.day_label || (stop.type === 'transit' ? 'tussenstop' : stop.type === 'arrival' ? 'aankomst/vertrek' : '');\n  var isTransitStop = stop.type === 'transit' || stop.type === 'arrival';\n  var itemStyle = isTransitStop ? 'opacity:0.65;' : '';\n  var cfg = transportConfig[stop.transport] || transportConfig.unknown;\n  var transportSpan = (!isTransitStop && cfg.svg) ? '<span class=\"legenda-transport\">' + svgIcon(cfg.svg, 14) + '</span>' : '';\n  legendaEl.innerHTML += '<div class=\"legenda-item\" style=\"' + itemStyle + '\"><span class=\"legenda-dag\">' + dagLabel + '</span>' + transportSpan + '<span>' + stop.destination + '</span></div>';\n});\n</script>\n</body>\n</html>`;\n\n  const bestandsnaam = 'routekaart-' + reisNaam + '.html';\n  return { json: { URL: url, route: route, legenda: legenda, html_content: html, bestandsnaam: bestandsnaam } };\n});"
        },
        "id": "efab5e7a-4318-4c56-aab9-06a8bb71cc0f",
        "name": "Genereer HTML kaart",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24528,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  const html = item.json.html_content;\n  const bestandsnaam = item.json.bestandsnaam;\n  const base64 = Buffer.from(html, 'utf8').toString('base64');\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: base64\n    }\n  };\n});"
        },
        "id": "534358d7-e474-433a-97ab-99050e9694ec",
        "name": "HTML naar binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24720,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const githubItems = $input.all();\nconst htmlItems = $('Genereer HTML kaart').all();\nconst mapboxToken = 'REDACTED_MAPBOX_PUBLIC_TOKEN';\n\nreturn githubItems.map(function(item, idx) {\n  const htmlItem = htmlItems[idx] ? htmlItems[idx].json : {};\n  const bestandsnaam = htmlItem.bestandsnaam || '';\n  const baseUrl = bestandsnaam\n    ? 'https://getextraordinaire.github.io/getaway-kaarten/' + bestandsnaam\n    : '';\n  const interactiefUrl = baseUrl ? baseUrl + '?t=' + mapboxToken : '';\n\n  return {\n    json: {\n      URL: htmlItem.URL,\n      route: htmlItem.route,\n      legenda: htmlItem.legenda,\n      interactief_url: interactiefUrl\n    }\n  };\n});"
        },
        "id": "d84fec61-55c8-4a95-be86-594f6294e810",
        "name": "Extraheer GitHub URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          25104,
          -2448
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk",
            "mode": "list",
            "cachedResultName": "GETRA - n8n claude data source - kaart",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Blad1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          22480,
          -2448
        ],
        "id": "71c200c9-2ac9-4037-b8f2-15bf9342e9bd",
        "name": "Google Sheets - Input",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "rKDPMvr7A5JCB74b",
            "name": "Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk",
            "mode": "list",
            "cachedResultName": "GETRA - n8n claude data source - kaart",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KKhB1v8mOwaPqRZwgs3q6cXRT4ghP2a_t4QdQh6bk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1988919106,
            "mode": "list",
            "cachedResultName": "Claude output",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MH-Qb7FUIq0SA9xd8Mz8kZmgEBfcScX0s979ME5KuFA/edit#gid=1988919106"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "URL": "={{ $json.URL }}",
              "Claude output": "={{ JSON.stringify($json.route) }}",
              "Legenda": "={{ $json.legenda }}",
              "Kaart URL (interactief)": "={{ $json.interactief_url }}"
            },
            "matchingColumns": [
              "URL"
            ],
            "schema": [
              {
                "id": "URL",
                "displayName": "URL",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Claude output",
                "displayName": "Claude output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "Legenda",
                "displayName": "Legenda",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "Kaart URL (interactief)",
                "displayName": "Kaart URL (interactief)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "USER_ENTERED"
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          26080,
          -2976
        ],
        "id": "506ed528-7619-4a26-aaca-293c493670f0",
        "name": "Google Sheets - Output",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mDvVz4i75SZtDLYK",
            "name": "Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  const bestandsnaam = item.json.bestandsnaam || '';\n  const base64content = item.json.base64content || '';\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: base64content,\n      upload_message: 'Kaart update: ' + bestandsnaam\n    }\n  };\n});"
        },
        "id": "7c475798-cf41-4c73-b1b7-d2633f93b81d",
        "name": "Bouw upload body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24912,
          -2976
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.upload_message }}"
              },
              {
                "name": "content",
                "value": "={{ $json.base64content }}"
              }
            ]
          },
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 2000
              }
            }
          }
        },
        "id": "49c665cd-cf93-4301-bfa4-973490d4aa7d",
        "name": "Upload naar GitHub",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          26032,
          -2448
        ],
        "credentials": {
          "githubApi": {
            "id": "WfhRAZf95BOBEm4l",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1
              }
            },
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "a400bb8f-aacc-4768-a2c1-4e7aea628458",
        "name": "Haal SHA op",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          25360,
          -2816
        ],
        "credentials": {
          "githubApi": {
            "id": "WfhRAZf95BOBEm4l",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "={{ 'https://api.github.com/repos/getextraordinaire/getaway-kaarten/contents/' + $json.bestandsnaam }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "={{ $json.delete_message }}"
              },
              {
                "name": "sha",
                "value": "={{ $json.delete_sha }}"
              }
            ]
          },
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1
              }
            },
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "8b0455fe-6e73-4e13-9d66-ddf69bd12acd",
        "name": "Verwijder van GitHub",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          25664,
          -2560
        ],
        "credentials": {
          "githubApi": {
            "id": "WfhRAZf95BOBEm4l",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const deleteItems = $input.all();\nconst combineerItems = $('Combineer SHA').all();\n\nreturn deleteItems.map(function(item, idx) {\n  const combineerItem = combineerItems[idx] || { json: {} };\n  return {\n    json: {\n      URL: combineerItem.json.URL,\n      route: combineerItem.json.route,\n      legenda: combineerItem.json.legenda,\n      bestandsnaam: combineerItem.json.bestandsnaam,\n      base64content: combineerItem.json.base64content,\n      upload_message: combineerItem.json.upload_message\n    }\n  };\n});"
        },
        "id": "88c05cdc-a392-44bb-bb7a-f75f439eada0",
        "name": "Herstel upload data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          25904,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const shaItems = $input.all();\nconst uploadItems = $('Bouw upload body').all();\n\nreturn shaItems.map(function(shaItem, idx) {\n  const uploadItem = uploadItems[idx] || { json: {} };\n\n  // SHA is aanwezig als statusCode 200 en sha veld gevuld\n  // Bij 404 of lege response is sha null\n  let sha = null;\n  try {\n    if (shaItem.json && shaItem.json.sha && shaItem.json.sha !== 'undefined') {\n      sha = shaItem.json.sha;\n    }\n  } catch(e) { sha = null; }\n\n  const bestandsnaam = uploadItem.json.bestandsnaam || '';\n\n  return {\n    json: {\n      URL: uploadItem.json.URL,\n      route: uploadItem.json.route,\n      legenda: uploadItem.json.legenda,\n      bestandsnaam: bestandsnaam,\n      base64content: uploadItem.json.base64content,\n      upload_message: uploadItem.json.upload_message,\n      delete_message: 'Verwijder voor herplaatsing: ' + bestandsnaam,\n      delete_sha: sha || '',\n      has_sha: sha ? true : false\n    }\n  };\n});"
        },
        "id": "09d47817-7e6d-4318-8f42-88ac8987bbb7",
        "name": "Combineer SHA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          25392,
          -2448
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst sheetItems = $('Google Sheets - Input').all();\n\nreturn items.map(function(item, idx) {\n  const sheetItem = sheetItems[idx] || { json: {} };\n  const dagTotDag = sheetItem.json['Dag tot dag - generated'] || '';\n  \n  // Bouw een compacte routelijst voor Claude\n  const routeLijst = item.json.route.map(function(s) {\n    return s.order + '. ' + s.destination + ' (' + s.type + ')';\n  }).join('\\n');\n\n  const prompt = 'Gegeven deze dag-tot-dag tekst en routelijst, geef voor elke stop het dagnummer of dagbereik terug zoals het in de dag-tot-dag tekst staat.\\n\\n' +\n    'Route:\\n' + routeLijst + '\\n\\n' +\n    'Regels:\\n' +\n    '- Gebruik de exacte formulering uit de dag-tot-dag tekst (bijv. \"Dag 1\", \"Dag 1-4\", \"Dag 5-6\")\\n' +\n    '- Voor de eerste stop in het reisland: begin altijd op Dag 1, ook als Dag 1 de vliegdag is. De vliegdag telt mee als eerste dag van de bestemming. Voorbeeld: dag-tot-dag begint met \"Dag 1 | Amsterdam - Bangkok\" en Bangkok wordt beschreven op Dag 2-4 → day_label is \"Dag 1-4\" (niet \"Dag 2-4\")\\n' +\n    '- Voor transit-stops: gebruik het dagnummer waarop de reiziger door die stop reist\\n' +\n    '- Als een stop niet voorkomt in de dag-tot-dag: laat day_label leeg (\"\")\\n\\n' +\n    '- Gebruik altijd een koppelteken voor dagbereiken (\"Dag 6-7\", \"Dag 8-9\"), nooit een ampersand (\"Dag 6 & 7\")\\n' +\n    'Geef ALLEEN een geldig JSON object terug:\\n' +\n    '{\\n' +\n    '  \"labels\": [\\n' +\n    '    { \"order\": 1, \"day_label\": \"Dag 1-4\" },\\n' +\n    '    { \"order\": 2, \"day_label\": \"Dag 5\" },\\n' +\n    '    { \"order\": 3, \"day_label\": \"Dag 5-6\" }\\n' +\n    '  ]\\n' +\n    '}\\n\\n' +\n    'Dag tot dag:\\n' + dagTotDag;\n\n  const requestBody = {\n    model: 'claude-opus-4-8',\n    max_tokens: 2000,\n    messages: [{ role: 'user', content: prompt }]\n  };\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: item.json.route,\n      legenda: item.json.legenda,\n      requestBody: JSON.stringify(requestBody)\n    }\n  };\n});"
        },
        "id": "42cb8a5f-54cc-48ad-ba81-88c448cd0be9",
        "name": "Bouw dag label request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          23536,
          -2704
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 500
              }
            }
          }
        },
        "id": "378586eb-c3b7-4424-8044-2fd62a23be55",
        "name": "Claude - Bereken dag labels",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          23808,
          -2800
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "sDmugZ8UnWZjdCY3",
            "name": "Header Auth account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(function(item) {\n  // Parse Claude response\n  let labels = [];\n  try {\n    const textBlock = (item.json.claude_content || []).find(function(c) { return c.type === 'text' && c.text; });\n    const text = textBlock ? textBlock.text : '';\n    const clean = text.replace(/```json|```/g, '').trim();\n    const parsed = JSON.parse(clean);\n    labels = parsed.labels || [];\n  } catch(e) {\n    labels = [];\n  }\n\n  // Maak een lookup map van order -> day_label\n  const labelMap = {};\n  labels.forEach(function(l) {\n    labelMap[l.order] = l.day_label || '';\n  });\n\n  // Voeg day_label toe aan elke stop — alle stops bewaren\n  const route = (item.json.route || []).map(function(stop) {\n    return Object.assign({}, stop, { day_label: labelMap[stop.order] || '' });\n  });\n\n  return {\n    json: {\n      URL: item.json.URL,\n      route: route,\n      legenda: item.json.legenda\n    }\n  };\n});"
        },
        "id": "05bbc6a2-f06e-4784-869d-10c374f9a1e6",
        "name": "Verwerk dag labels",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24080,
          -2592
        ]
      },
      {
        "parameters": {
          "jsCode": "const claudeItems = $input.all();\nconst bouwItems = $('Bouw dag label request').all();\n\n// Combineer Claude response met originele route op basis van index\nreturn claudeItems.map(function(claudeItem, idx) {\n  const bouwItem = bouwItems[idx] || { json: {} };\n  return {\n    json: {\n      URL: bouwItem.json.URL,\n      route: bouwItem.json.route,\n      legenda: bouwItem.json.legenda,\n      claude_content: claudeItem.json.content\n    }\n  };\n});"
        },
        "id": "079932a4-bccb-4f48-a42d-b205cc4bcffc",
        "name": "Combineer dag labels",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24304,
          -2816
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "monthsInterval": 12
              }
            ]
          }
        },
        "id": "a7975126-a95a-4307-99dd-f6563c314ba8",
        "name": "Schedule Trigger (voor publicatie)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          21904,
          -2448
        ]
      },
      {
        "id": "861fad91-7c91-460d-b167-47717c22da34",
        "name": "Corrigeer geocoding",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24360,
          -2280
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst token = 'REDACTED_MAPBOX_PUBLIC_TOKEN';\nconst base = 'https://api.mapbox.com/geocoding/v5/mapbox.places/';\n\nfunction mediaan(arr) {\n  const s = arr.slice().sort(function(a,b){ return a-b; });\n  const n = s.length;\n  if (!n) return 0;\n  return n % 2 ? s[(n-1)/2] : (s[n/2-1] + s[n/2]) / 2;\n}\nfunction afstand(aLng, aLat, bLng, bLat) {\n  const dx = aLng - bLng, dy = aLat - bLat;\n  return Math.sqrt(dx*dx + dy*dy);\n}\nfunction vindCountryCode(feature) {\n  try {\n    if (feature.place_type && feature.place_type.indexOf('country') !== -1) {\n      return (feature.properties && feature.properties.short_code) ? feature.properties.short_code.toUpperCase() : null;\n    }\n    if (feature.context) {\n      const c = feature.context.find(function(x){ return x.id && x.id.indexOf('country') === 0; });\n      if (c && c.short_code) return c.short_code.toUpperCase();\n    }\n  } catch(e) {}\n  return null;\n}\n\nconst out = [];\nfor (const item of items) {\n  const route = item.json.route || [];\n  const valid = route.filter(function(s){ return s.latitude != null && s.longitude != null; });\n\n  // robuust middelpunt van de reis (mediaan is ongevoelig voor 1 foute uitschieter)\n  const medLat = mediaan(valid.map(function(s){ return s.latitude; }));\n  const medLng = mediaan(valid.map(function(s){ return s.longitude; }));\n\n  for (const s of route) {\n    const q = encodeURIComponent((s.destination_geocode || s.destination) + ', ' + (s.country || ''));\n    const url = base + q + '.json';\n    let resp;\n    try {\n      resp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        qs: { access_token: token, limit: 1, types: 'place,region,country,locality', proximity: medLng + ',' + medLat },\n        json: true\n      });\n    } catch(e) { continue; }\n\n    const f = resp && resp.features && resp.features[0];\n    if (!f || !f.center) continue;\n    const newLng = f.center[0], newLat = f.center[1];\n\n    if (s.latitude == null || s.longitude == null) {\n      // had geen coordinaten: red de stop met het proximity-resultaat\n      s.longitude = newLng; s.latitude = newLat;\n      s.place_name = f.place_name;\n      s.country_code = vindCountryCode(f) || s.country_code;\n      continue;\n    }\n\n    const dOud = afstand(s.longitude, s.latitude, medLng, medLat);\n    const dNieuw = afstand(newLng, newLat, medLng, medLat);\n    // alleen verplaatsen als het nieuwe punt DUIDELIJK dichter bij de route ligt\n    // (correcte verre stops zoals Kruger blijven zo onaangeroerd)\n    if (dNieuw < dOud - 0.05) {\n      s.longitude = newLng; s.latitude = newLat;\n      s.place_name = f.place_name;\n      s.country_code = vindCountryCode(f) || s.country_code;\n    }\n  }\n\n  out.push({ json: Object.assign({}, item.json, { route: route }) });\n}\nreturn out;"
        }
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Google Sheets - Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bouw request body": {
        "main": [
          [
            {
              "node": "Claude - Extraheer bestemmingen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude - Extraheer bestemmingen": {
        "main": [
          [
            {
              "node": "Parse Claude JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Claude JSON": {
        "main": [
          [
            {
              "node": "Bouw Mapbox URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mapbox Geocoding": {
        "main": [
          [
            {
              "node": "Extraheer coördinaten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraheer coördinaten": {
        "main": [
          [
            {
              "node": "Combineer resultaten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bouw Mapbox URL": {
        "main": [
          [
            {
              "node": "Mapbox Geocoding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Genereer HTML kaart": {
        "main": [
          [
            {
              "node": "HTML naar binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML naar binary": {
        "main": [
          [
            {
              "node": "Bouw upload body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Input": {
        "main": [
          [
            {
              "node": "Bouw request body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraheer GitHub URL": {
        "main": [
          [
            {
              "node": "Google Sheets - Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bouw upload body": {
        "main": [
          [
            {
              "node": "Haal SHA op",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload naar GitHub": {
        "main": [
          [
            {
              "node": "Extraheer GitHub URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Haal SHA op": {
        "main": [
          [
            {
              "node": "Combineer SHA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verwijder van GitHub": {
        "main": [
          [
            {
              "node": "Herstel upload data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Herstel upload data": {
        "main": [
          [
            {
              "node": "Upload naar GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combineer SHA": {
        "main": [
          [
            {
              "node": "Verwijder van GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bouw dag label request": {
        "main": [
          [
            {
              "node": "Claude - Bereken dag labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude - Bereken dag labels": {
        "main": [
          [
            {
              "node": "Combineer dag labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verwerk dag labels": {
        "main": [
          [
            {
              "node": "Genereer HTML kaart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combineer dag labels": {
        "main": [
          [
            {
              "node": "Verwerk dag labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger (voor publicatie)": {
        "main": [
          [
            {
              "node": "Google Sheets - Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combineer resultaten": {
        "main": [
          [
            {
              "node": "Corrigeer geocoding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Corrigeer geocoding": {
        "main": [
          [
            {
              "node": "Bouw dag label request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Getaway Travel",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-15T20:56:31.870Z",
        "id": 165,
        "workflowId": "XPSwqndBGvARd0zq",
        "versionId": "dd88f505-d4ef-4f19-9a72-4eebde14158f",
        "event": "activated",
        "userId": "bf908728-6154-42a7-8478-b1965a25e7b0"
      }
    ]
  }
}